Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

Cache package manager detection too
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
Due: clang-tidy

Use rpm -q, not rpm -qa, for package manager detection
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

EnsureSysctl: log expected value from syctl, Use Pattern
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.h
  src/modules/complianceengine/tests/procedures/EnsureSysctlTest.cpp
Due: clang-tidy, compliance-engine-interface

EnsureSysctl: log expected value from syctl, Use Pattern (#1201)
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.h
  src/modules/complianceengine/tests/procedures/EnsureSysctlTest.cpp
Due: clang-tidy, compliance-engine-interface

Improve UfwStatus command output
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
  src/modules/complianceengine/src/lib/procedures/UfwStatus.h
Due: clang-tidy, compliance-engine-interface

Adjust tests, add logging
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
  src/modules/complianceengine/tests/procedures/ufwStatusTest.cpp
Due: clang-tidy

Cosmetics
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
Due: clang-tidy

compilanceAssesor: fix segfault when using short options
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

Support for underscore/hyphen in module names (#1199)
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/tests/procedures/EnsureKernelModuleTest.cpp
Due: clang-tidy

Cache package manager detection too (#1200)
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

compilanceAssesor: fix segfault when using short options (#1203)
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

Disabling the PnP Agent and the Azure IoT PnP SDK from build
  src/adapters/CMakeLists.txt
Due: none

Disabling the PnP Agent and the Azure IoT PnP SDK from build (#1204)
  src/adapters/CMakeLists.txt
Due: none

Fixed context root for Dockerfiles
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
  devops/docker/ubuntu-14.04-amd64/Dockerfile
Due: none

Added missing vcpkg deps (#1129)
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/oraclelinux-7-amd64/Dockerfile
Due: none

Updated container references
  .github/test-matrix.json
  .github/workflows/module-test-run.yml
  .github/workflows/module-test.yml
  .github/workflows/nrp-build.yml
  .github/workflows/static-analysis.yml
  .github/workflows/universalnrp-test.yml
Due: none

Updated container references
  .github/test-matrix.json
  .github/workflows/module-test.yml
  .github/workflows/nrp-build.yml
  .github/workflows/static-analysis.yml
  .github/workflows/universalnrp-test.yml
Due: none

Corrected sha refs
  .github/test-matrix.json
Due: none

Added missing @sha256 tag
  .github/test-matrix.json
Due: none

TO REVERT - added ahbenmes/telemetry_staging
  .github/workflows/universalnrp-test.yml
Due: none

updated secrets syntax
  .github/workflows/nrp-build.yml
  .github/workflows/universalnrp-test.yml
Due: none

dev to telemetry_staging sync (#1179)
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
Due: clang-tidy

use openssl instead of libssh
  src/vcpkg.json
Due: none

updated workflow secrets
  .github/workflows/nrp-build.yml
  .github/workflows/universalnrp-test.yml
Due: none

Fixed container reference for static analysis workflow
  .github/workflows/static-analysis.yml
Due: none

Added missing vcpkg deps (#1129)
  devops/docker/almalinux-9-amd64/Dockerfile
  devops/docker/amazonlinux-2-amd64/Dockerfile
  devops/docker/azurelinux-3-amd64/Dockerfile
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/centos-8-amd64/Dockerfile
  devops/docker/debian-10-amd64/Dockerfile
  devops/docker/debian-11-amd64/Dockerfile
  devops/docker/debian-12-amd64/Dockerfile
  devops/docker/oraclelinux-7-amd64/Dockerfile
  devops/docker/oraclelinux-8-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
  devops/docker/rhel-8-amd64/Dockerfile
  devops/docker/rhel-9-amd64/Dockerfile
  devops/docker/ubuntu-20.04-amd64/Dockerfile
  devops/docker/ubuntu-22.04-amd64/Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile
Due: none

Fixed rhel7 context root in Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
Due: none

Added missing ubuntu 14 (trusty) dependencies (#1152)
  devops/docker/ubuntu-14.04-amd64/Dockerfile
Due: none

Added missing container args
  .github/actions/container-run/action.yml
Due: none

updated static references for static-analysis
  .github/workflows/static-analysis.yml
Due: none

Fixed missing dependencies on containers
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/rockylinux-9-amd64/Dockerfile
  devops/docker/ubuntu-18.04-amd64/Dockerfile
Due: none

Updated container references
  .github/test-matrix.json
  .github/workflows/nrp-build.yml
  .github/workflows/universalnrp-test.yml
Due: none

Bumped cul + openssl versions
  src/vcpkg.json
Due: none

updated dockerfiles for rhel-7, centos-7
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
Due: none

Remove WError flag for pnp sdk due to openssl bump
  src/adapters/pnp/CMakeLists.txt
Due: none

fixing template expressions
  .github/workflows/nrp-build.yml
  .github/workflows/universalnrp-test.yml
Due: none
