Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

The OSConfig Universal NRP shall not attempt to enable the OSConfig Platform when the OSConfig Platform is not installed (#1217)
  src/adapters/mc/OsConfigResource.c
Due: none

Added fuzzing for Telemetry (#1220)
  .github/workflows/fuzzing-run.yml
  src/CMakeLists.txt
  src/adapters/mc/CMakeLists.txt
  src/common/telemetry/lib/CMakeLists.txt
  src/common/telemetry/lib/Telemetry.cpp
  src/tests/fuzzer/CMakeLists.txt
  src/tests/fuzzer/lsan.suppressions
  src/tests/fuzzer/seed_corpus/ProcessJsonFile.target
  src/tests/fuzzer/seed_corpus/crash-778dddf07f9c31b3259fe5a09d63d16573bd8718
  src/tests/fuzzer/target.cpp
Due: none

Improve logging on Universal NRP Pester test (#1218)
  src/tests/universal-nrp-e2e/UniversalNRP.Tests.ps1
Due: none

Updated container-tag to use latest published tags (#1216)
  .github/workflows/insiders-fast.yml
Due: none

Improve telemetry reliability (#1230)
  src/adapters/mc/OsConfigResource.c
  src/common/asb/Asb.c
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/telemetry/bin/main.cpp
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/Telemetry.hpp
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

Telemetry: Fix build when -DBUILD_TELEMETRY=0, gcc complains [-Werror=unused-function] (#1233)
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Initialize telemetry for CE (#1232)
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/so/ComplianceEngineModule.c
Due: clang-tidy

Pre-commit
  src/adapters/mc/asb/Azure_Security_Baseline_for_Linux_v_1.0.0.json
Due: none

Adjust compliance engine NRP output (#1196)
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/src/lib/Evaluator.h
Due: clang-tidy

Support for underscore/hyphen in module names (#1199)
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/tests/procedures/EnsureKernelModuleTest.cpp
Due: clang-tidy

Added ResultString to StatusTrace event (#1213)
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/ParameterSets.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: clang-tidy

Minor clang compiler fixes (#1165)
  src/common/tests/CommonUtilsUT.cpp
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/tests/MockContext.h
Due: clang-tidy

Fix universal nrp tests (#1153)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/package-build.yml
  .gitignore
  .gitmodules
  src/CMakeLists.txt
  src/adapters/mc/CMakeLists.txt
  src/modules/CMakeLists.txt
  src/tests/fuzzer/CMakeLists.txt
  src/tests/fuzzer/target.cpp
  src/vcpkg.json
  vcpkg-configuration.json
Due: none

compliance engine assessor (#1168)
  .pre-commit-config.yaml
  src/modules/complianceengine/src/CMakeLists.txt
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.cpp
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CompactListFormatter.cpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.hpp
  src/modules/complianceengine/src/assessor/DebugFormatter.cpp
  src/modules/complianceengine/src/assessor/DebugFormatter.hpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.cpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.hpp
  src/modules/complianceengine/src/lua-evaluator/CMakeLists.txt
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
Due: clang-tidy

Removed parallel builds on sanitizer due to memory overhead (#1214)
  .github/workflows/ci-sanitizers.yml
Due: none

Cache package manager detection too (#1200)
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

Auditd audit fixes (#1188)
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/tests/procedures/AuditdRulesCheckTest.cpp
Due: clang-tidy

Disabling the PnP Agent and the Azure IoT PnP SDK from build (#1204)
  src/adapters/CMakeLists.txt
Due: none

Add SystemdCatConfig Lua procedure (#1193)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/SystemdCatConfig.cpp
  src/modules/complianceengine/src/lib/SystemdCatConfig.h
Due: clang-tidy

Onboarded CE to Telemetry (#1207)
  src/common/telemetry/Telemetry.h
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/FileTreeWalk.cpp
  src/modules/complianceengine/src/lib/GroupsIterator.cpp
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/src/lib/ListValidShells.cpp
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/NetworkTools.cpp
  src/modules/complianceengine/src/lib/PasswordEntriesIterator.cpp
  src/modules/complianceengine/src/lib/ReentrantIterator.h
  src/modules/complianceengine/src/lib/UsersIterator.cpp
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureDefaultShellTimeoutIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureDefaultUserUmaskIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureGsettings.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersDotFilesAccessIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersHomeDirectoriesAreConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureLogfileAccess.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSystemAccountsDoNotHaveValidShell.cpp
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdUnitState.cpp
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
Due: clang-tidy

Drop password change test (#1195)
  src/modules/test/recipes/complianceengine/EnsureShadowContains.json
Due: none

Add indicators support for Lua (#1194)
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.h
  src/modules/complianceengine/tests/LuaProceduresTest.cpp
Due: clang-tidy

[ASB] Do not log mntent.mnt_opts values that contain credentials (#1212)
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/MountUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Fix package-build cmake arguments (#1227)
  .github/workflows/package-build.yml
Due: none

Bump codeql-action@v4 (#1222)
  .github/workflows/codeql.yml
Due: none

Fix package-build workflow to support different toolchains (#1221)
  .github/actions/container-exec/action.yml
  .github/workflows/package-build.yml
Due: none

EnsureSysctl: log expected value from syctl, Use Pattern (#1201)
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.h
  src/modules/complianceengine/tests/procedures/EnsureSysctlTest.cpp
Due: clang-tidy, compliance-engine-interface

Remove Telemetry noise for rules that may take too long to process on customer's side (#1229)
  src/common/commonutils/PerfUtils.c
Due: none

Add filesystem scanner procedures to Lua (#1174)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/FilesystemScanner.cpp
  src/modules/complianceengine/src/lib/FilesystemScanner.h
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.h
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/FilesystemScannerTest.cpp
  src/modules/complianceengine/tests/LuaProceduresTest.cpp
  src/modules/complianceengine/tests/MockContext.h
  src/modules/complianceengine/tests/procedures/EnsureNoUnownedTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureNoWritablesTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureSshKeyPermsTest.cpp
Due: clang-tidy

Make EnsureNoUnowned and EnsureNoWritables output more readable (#1197)
  src/modules/complianceengine/src/lib/procedures/EnsureNoUnowned.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureNoWritables.cpp
Due: clang-tidy

Follow symlinks in the FileRegexMatch procedure (#1173)
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/tests/procedures/FileRegexMatchTest.cpp
Due: clang-tidy

Removing unused argument 'rootCanOverwriteOwnership' from commonutils function CheckDirectoryAccess (#1058)
  src/common/commonutils/FileUtils.c
Due: none

Add pam-config to ExecuteCommandGrep (#1182)
  src/modules/complianceengine/src/lib/procedures/ExecuteCommandGrep.cpp
Due: clang-tidy

Improve UfwStatus command output (#1202)
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
  src/modules/complianceengine/src/lib/procedures/UfwStatus.h
  src/modules/complianceengine/tests/procedures/ufwStatusTest.cpp
Due: clang-tidy, compliance-engine-interface
