Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

Fix xxd command for compatibility with older RHEL versions in Copy Fail BPF include generation
  src/modules/complianceengine/src/lib/CMakeLists.txt
Due: none

Return 1 only in case of error (#1282)
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

ci: update permissions on gh workflows
  .github/workflows/e2e-run.yml
  .github/workflows/e2e.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzzing-run.yml
  .github/workflows/fuzzing.yml
  .github/workflows/insiders-fast.yml
  .github/workflows/mim.yml
  .github/workflows/module-test-run.yml
  .github/workflows/module-test.yml
  .github/workflows/prod.yml
  .github/workflows/static-analysis.yml
Due: none

Add Kusto Geneva GDS EV2 deploy workflow for OSConfig Linux telemetry
  .github/ev2/NonProd/BuildVer.txt
  .github/ev2/NonProd/Parameters/ClusterDB.parameters.json
  .github/ev2/NonProd/RolloutParameters/GDSConfig.RolloutParameters.json
  .github/ev2/NonProd/RolloutSpec.json
  .github/ev2/NonProd/ScopeBindings.json
  .github/ev2/NonProd/ServiceModel.json
  .github/ev2/NonProd/Templates/UpdateConfig.Template.json
  .github/ev2/Prod/BuildVer.txt
  .github/ev2/Prod/Parameters/ClusterDB.parameters.json
  .github/ev2/Prod/RolloutParameters/GDSConfig.RolloutParameters.json
  .github/ev2/Prod/RolloutSpec.json
  .github/ev2/Prod/ScopeBindings.json
  .github/ev2/Prod/ServiceModel.json
  .github/ev2/Prod/Templates/UpdateConfig.Template.json
  .github/ev2/README.md
  .github/ev2/tools/configurations/prod/ev2cli_config.json
  .github/ev2/tools/configurations/test/ev2cli_config.json
  .github/ev2/tools/ev2
  .github/ev2/tools/ev2cli_release.yaml
  .github/workflows/kusto-ev2-deploy.yml
Due: none

Cleanup
  .github/workflows/kusto-ev2-deploy.yml
Due: none

More cleanup
  .github/deploy/NonProd/BuildVer.txt
  .github/deploy/NonProd/Parameters/ClusterDB.parameters.json
  .github/deploy/NonProd/RolloutParameters/GDSConfig.RolloutParameters.json
  .github/deploy/NonProd/RolloutSpec.json
  .github/deploy/NonProd/ScopeBindings.json
  .github/deploy/NonProd/ServiceModel.json
  .github/deploy/NonProd/Templates/UpdateConfig.Template.json
  .github/deploy/Prod/BuildVer.txt
  .github/deploy/Prod/Parameters/ClusterDB.parameters.json
  .github/deploy/Prod/RolloutParameters/GDSConfig.RolloutParameters.json
  .github/deploy/Prod/RolloutSpec.json
  .github/deploy/Prod/ScopeBindings.json
  .github/deploy/Prod/ServiceModel.json
  .github/deploy/Prod/Templates/UpdateConfig.Template.json
  .github/deploy/tools/configurations/prod/ev2cli_config.json
  .github/deploy/tools/configurations/test/ev2cli_config.json
  .github/deploy/tools/ev2cli_release.yaml
  .github/deploy/tools/rollout
  .github/ev2/README.md
  .github/workflows/kusto-ev2-deploy.yml
  .github/workflows/telemetry-pipeline-deploy.yml
Due: none

Refactor memory access in copyfail_afalg BPF program for improved safety
  src/modules/complianceengine/src/lib/procedures/bpf/CopyFailMitigation.bpf.c
Due: none

Refactor allowed paths handling in BPF program to use hash map and simplify path validation logic
  src/modules/complianceengine/src/lib/procedures/CopyFailMitigation.cpp
  src/modules/complianceengine/src/lib/procedures/bpf/CopyFailMitigation.bpf.c
Due: clang-tidy

Create distinct context classess for assessor and GC module (#1281)
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/lib/AssessorContext.h
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/ContextInterface.h
  src/modules/complianceengine/src/lib/GuestConfigurationContext.cpp
  src/modules/complianceengine/src/lib/GuestConfigurationContext.h
  src/modules/complianceengine/src/lib/Users.cpp
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
  src/modules/complianceengine/tests/AssessorContextTest.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/CommonContextTest.cpp
  src/modules/complianceengine/tests/MockContext.h
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

assessor: handle escaped quotes in MOF GetValue (#1276)
  src/modules/complianceengine/src/assessor/Mof.cpp
Due: clang-tidy

[DELME] SPAM
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

github: set team-kompli as CODEOWNERS
  .github/CODEOWNERS
Due: none

assessor: extract CLI options and parser into a testable library
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CliOptions.cpp
  src/modules/complianceengine/src/assessor/CliOptions.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
  src/modules/complianceengine/src/assessor/tests/CliOptionsTest.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

pre-commit add blank line to licence
  src/modules/complianceengine/src/lib/GenInterface.py
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
Due: clang-tidy

Prepare codebase for open-source release, add Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Prepare codebase for open-source add header licence part 2
  src/adapters/mc/complianceengine/example/MOFGenerator.py
  src/modules/complianceengine/src/lib/GenInterface.py
  src/tests/clang-tidy/run-clang-tidy.py
Due: none

Prepare codebase for open-source update Support.md
  SUPPORT.md
Due: none

Potential fix for pull request finding
  src/tests/universal-nrp-e2e/StartVMTest.sh
Due: none

Prepare codebase for open-source update Security.md
  SECURITY.md
Due: none

Prepare codebase for open-source add header licence part 5, generate interfaces add licences as well
  devops/scripts/check-copyright.py
  src/common/tests/Helper.c
  src/modules/complianceengine/src/lib/GenInterface.py
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
Due: clang-tidy

Prepare codebase for open-source add header licence part 1
  src/common/tests/Helper.h
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.cpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.cpp
  src/modules/complianceengine/src/assessor/DebugFormatter.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.cpp
  src/modules/complianceengine/src/lib/Base64.h
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/src/lib/KernelModuleTools.h
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/LuaEvaluator.h
  src/modules/complianceengine/src/lib/Users.cpp
  src/modules/complianceengine/src/lib/Users.h
  src/modules/complianceengine/src/lib/procedures/Behavior.h
  src/modules/complianceengine/src/lib/procedures/DefaultUmask.cpp
  src/modules/complianceengine/src/lib/procedures/FilesystemMountOption.cpp
  src/modules/complianceengine/src/lib/procedures/NoWorldWritableFiles.cpp
  src/modules/complianceengine/src/lib/procedures/PasswordChangeDate.cpp
  src/modules/complianceengine/src/lib/procedures/RootPathSecurity.cpp
  src/modules/complianceengine/src/lib/procedures/ShadowField.cpp
  src/modules/complianceengine/src/lib/procedures/ShellTimeout.cpp
  src/modules/complianceengine/src/lib/procedures/UniqueGroupId.cpp
  src/modules/complianceengine/src/lib/procedures/UniqueUserId.cpp
  src/modules/complianceengine/src/lib/procedures/WirelessDisabled.cpp
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
  src/modules/complianceengine/tests/NetworkToolsTest.cpp
  src/modules/complianceengine/tests/procedures/ApparmorProfileStateTest.cpp
  src/modules/complianceengine/tests/procedures/CommandOutputMatchTest.cpp
  src/modules/complianceengine/tests/procedures/MountPointExistsTest.cpp
  src/modules/complianceengine/tests/procedures/NoDuplicateEntriesTest.cpp
  src/modules/complianceengine/tests/procedures/NoUnownedFilesTest.cpp
  src/modules/complianceengine/tests/procedures/NoWorldWritableFilesTest.cpp
  src/modules/complianceengine/tests/procedures/RootPathSecurityTest.cpp
Due: clang-tidy, compliance-engine-interface

Potential fix for pull request finding
  src/tests/universal-nrp-e2e/StartTests.sh
Due: none

Prepare codebase for open-source add header licence part 5
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.hpp
  src/modules/complianceengine/src/assessor/DebugFormatter.hpp
  src/modules/complianceengine/src/assessor/JsonFormatter.hpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.hpp
Due: none

Change order of the auto-generated vs licence
  src/modules/complianceengine/src/lib/GenInterface.py
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
Due: clang-tidy

Prepare codebase for open-source add Telemetry Notice about data collection
  README.md
Due: none

pre-commit add blank line to Behavior.h
  src/modules/complianceengine/src/lib/procedures/Behavior.h
Due: clang-tidy, compliance-engine-interface

Potential fix for pull request finding
  SUPPORT.md
Due: none

Prepare codebase for open-source add header licence part 4
  .github/actions/pmc/entrypoint.sh
  devops/scripts/generate_binary_footprints.sh
  devops/scripts/run-module-tests-action.sh
  devops/scripts/run-module-tests-int.sh
  devops/scripts/run-module-tests.sh
  src/adapters/mc/ssh/refresh_for_preview.sh
  src/tests/universal-nrp-e2e/StartLocalTest.sh
  src/tests/universal-nrp-e2e/StartTests.sh
  src/tests/universal-nrp-e2e/StartVMTest.sh
Due: none

Prepare codebase for open-source remove old information about data collection
  README.md
Due: none

Prepare codebase for open-source add header licence part 3
  src/adapters/mc/complianceengine/example/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/tests/fuzzer/CMakeLists.txt
Due: none

Prepare codebase for open-source release, add Trademark notice
  README.md
Due: none

Update SUPPORT to exclude security issues
  SUPPORT.md
Due: none

Prepare for open source add NOTICE about external dependencies
  NOTICE
Due: none

Update for open source fix CONTRIBUTING s/dev/main/ branch
  CONTRIBUTING.md
Due: none

Update for open-source
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

Prepare for open source update CONTRIBUTING.md to use microsoft/kompli
  CONTRIBUTING.md
Due: none

Fix licence to be standardised
  LICENSE.md
Due: none
