Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

clang-tidy:
  name: Run clang-tidy
  entry: src/tests/clang-tidy/run-clang-tidy.py
  language: python
  additional_dependencies:
  - clang-tidy

compliance-engine-interface:
  name: Generate symbolic compliance engine interface
  entry: src/modules/complianceengine/src/lib/GenInterface.py
  language: python
  require_serial: true

Protect mntent.mnt_opts from being logged when containing credentials
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/MountUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/commonutils/MountUtils.c
Due: none

Work in progress
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/MountUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

[ASB] Do not log mntent.mnt_opts values that contain credentials (#1212)
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/MountUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Improve UfwStatus command output
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
  src/modules/complianceengine/src/lib/procedures/UfwStatus.h
  src/modules/complianceengine/tests/procedures/ufwStatusTest.cpp
Due: clang-tidy, compliance-engine-interface

Changed from rapidjson to nlohmann-json
  src/modules/commandrunner/src/lib/CMakeLists.txt
  src/modules/commandrunner/src/lib/Command.cpp
  src/modules/commandrunner/src/lib/Command.h
  src/modules/commandrunner/src/lib/CommandRunner.cpp
  src/modules/commandrunner/src/lib/CommandRunner.h
  src/modules/commandrunner/src/so/CMakeLists.txt
  src/modules/commandrunner/src/so/CommandRunnerModule.cpp
  src/modules/commandrunner/tests/CMakeLists.txt
  src/modules/commandrunner/tests/CommandRunnerTests.cpp
Due: none

Updated devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Updated GTest top use vcpkg
  src/common/tests/CMakeLists.txt
  src/modules/adhs/tests/CMakeLists.txt
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/configuration/tests/CMakeLists.txt
  src/modules/deliveryoptimization/tests/CMakeLists.txt
  src/modules/deviceinfo/tests/CMakeLists.txt
  src/modules/firewall/tests/CMakeLists.txt
  src/modules/hostname/tests/CMakeLists.txt
  src/modules/networking/tests/CMakeLists.txt
  src/modules/pmc/tests/CMakeLists.txt
  src/modules/samples/cpp/tests/CMakeLists.txt
  src/modules/securitybaseline/tests/CMakeLists.txt
  src/modules/tpm/tests/CMakeLists.txt
  src/modules/ztsi/tests/CMakeLists.txt
  src/platform/tests/CMakeLists.txt
Due: none

use vcpkg version for 1DS
  src/common/telemetry/lib/CMakeLists.txt
Due: none

Added gtest overlay-port
  .github/workflows/ci.yml
  .github/workflows/package-build.yml
  src/CMakeLists.txt
  src/ports-overlay/README.md
  src/ports-overlay/gtest/portfile.cmake
  src/ports-overlay/gtest/vcpkg.json
  src/vcpkg.json
Due: none

updated docs
  README.md
Due: none

added oh my zsh to devcontainer
  .devcontainer/devcontainer.json
Due: none

Fixed broken gtest_discover_tests
  src/common/telemetry/bin/tests/CMakeLists.txt
  src/common/telemetry/lib/tests/CMakeLists.txt
  src/modules/adhs/tests/CMakeLists.txt
  src/modules/commandrunner/tests/CMakeLists.txt
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/configuration/tests/CMakeLists.txt
  src/modules/deliveryoptimization/tests/CMakeLists.txt
  src/modules/deviceinfo/tests/CMakeLists.txt
  src/modules/firewall/tests/CMakeLists.txt
  src/modules/hostname/tests/CMakeLists.txt
  src/modules/networking/tests/CMakeLists.txt
  src/modules/pmc/tests/CMakeLists.txt
  src/modules/samples/cpp/tests/CMakeLists.txt
  src/modules/securitybaseline/tests/CMakeLists.txt
  src/modules/tpm/tests/CMakeLists.txt
  src/modules/ztsi/tests/CMakeLists.txt
  src/platform/tests/CMakeLists.txt
Due: none

Changed sample module to use nlohmann-json
  src/modules/samples/cpp/src/lib/CMakeLists.txt
  src/modules/samples/cpp/src/lib/Sample.cpp
  src/modules/samples/cpp/src/lib/Sample.h
Due: none

remove rapidjson + other deps
  devops/docker/almalinux-9-amd64/Dockerfile
  devops/docker/amazonlinux-2-amd64/Dockerfile
  devops/docker/azurelinux-3-amd64/Dockerfile
  devops/docker/ubuntu-20.04-amd64/Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile-vanilla
  src/CMakeLists.txt
  src/common/commonutils/CMakeLists.txt
  src/modules/commandrunner/tests/CMakeLists.txt
  src/modules/commandrunner/tests/TestUtils.cpp
  src/modules/firewall/src/lib/CMakeLists.txt
  src/modules/firewall/src/lib/Firewall.cpp
  src/modules/firewall/src/lib/Firewall.h
  src/modules/firewall/tests/CMakeLists.txt
  src/modules/firewall/tests/FirewallTests.cpp
Due: none

Added gtest to vcpkg
  src/common/telemetry/CMakeLists.txt
  src/common/telemetry/bin/tests/CMakeLists.txt
  src/common/telemetry/lib/CMakeLists.txt
  src/common/telemetry/lib/tests/CMakeLists.txt
  src/vcpkg.json
Due: none

fixed wrong cmake parameter
  src/common/telemetry/bin/CMakeLists.txt
Due: none

Improve UfwStatus command output (#1202)
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
  src/modules/complianceengine/src/lib/procedures/UfwStatus.h
  src/modules/complianceengine/tests/procedures/ufwStatusTest.cpp
Due: clang-tidy, compliance-engine-interface

addressed comments
  README.md
Due: none

Removed unecessary Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile-vanilla
Due: none

addressed comments - added triplet docs
  src/ports-overlay/README.md
Due: none

fixed argument for fts_open StatusTrace
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
Due: clang-tidy

addressed comments
  src/modules/complianceengine/src/lib/UsersIterator.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
Due: clang-tidy

added missing OSConfigTelemetryStatusTrace traces
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/FileTreeWalk.cpp
  src/modules/complianceengine/src/lib/NetworkTools.cpp
  src/modules/complianceengine/src/lib/ReentrantIterator.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureGsettings.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersDotFilesAccessIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersHomeDirectoriesAreConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
Due: clang-tidy

Onboarded CE to Telemetry
  src/common/telemetry/Telemetry.h
  src/modules/complianceengine/src/lib/GroupsIterator.cpp
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/src/lib/ListValidShells.cpp
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/PasswordEntriesIterator.cpp
  src/modules/complianceengine/src/lib/UsersIterator.cpp
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureDefaultShellTimeoutIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureDefaultUserUmaskIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureGsettings.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersDotFilesAccessIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersHomeDirectoriesAreConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureLogfileAccess.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSystemAccountsDoNotHaveValidShell.cpp
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdUnitState.cpp
Due: clang-tidy

Limited local test jobs to 5
  .github/workflows/universalnrp-test.yml
Due: none

TO REVERT - removed jobs for testing
  .github/workflows/universalnrp-test.yml
Due: none

Onboarded CE to Telemetry (#1207)
  src/common/telemetry/Telemetry.h
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/FileTreeWalk.cpp
  src/modules/complianceengine/src/lib/GroupsIterator.cpp
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/src/lib/ListValidShells.cpp
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/NetworkTools.cpp
  src/modules/complianceengine/src/lib/PasswordEntriesIterator.cpp
  src/modules/complianceengine/src/lib/ReentrantIterator.h
  src/modules/complianceengine/src/lib/UsersIterator.cpp
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureDefaultShellTimeoutIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureDefaultUserUmaskIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureGsettings.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersDotFilesAccessIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersHomeDirectoriesAreConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureLogfileAccess.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSystemAccountsDoNotHaveValidShell.cpp
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdUnitState.cpp
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
Due: clang-tidy

Added ResultString to StatusTrace event
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/ParameterSets.hpp
Due: clang-tidy

updated TelemetryTest::ProcessStatusTraceEvent
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: none

addressed comments
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Added ResultString to StatusTrace event (#1213)
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/ParameterSets.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: clang-tidy

Removed parallel builds on sanitizer due to memory overhead
  .github/workflows/ci-sanitizers.yml
Due: none

Bumped CMake minimum requirement to 3.21
  README.md
  src/CMakeLists.txt
  src/common/telemetry/CMakeLists.txt
Due: none

Path conditions:
  clang-tidy: any of: (?x)(
^src/modules/complianceengine/src/.*\.h$|
^src/modules/complianceengine/src/.*\.cpp$|
^src/compliance-engine-assessor/.*\.hpp$|
^src/compliance-engine-assessor/.*\.cpp$|
^src/common/telemetry/.*\.h$|
^src/common/telemetry/.*\.hpp$|
^src/common/telemetry/.*\.c$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  compliance-engine-interface: any of: (?x)(
^src/modules/complianceengine/src/lib/payload.schema.json$|
^src/modules/complianceengine/src/lib/procedures/.*\.h$|
^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.json$
