Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

clang-tidy:
  name: Run clang-tidy
  entry: src/tests/clang-tidy/run-clang-tidy.py
  language: python
  additional_dependencies:
  - clang-tidy

compliance-engine-interface:
  name: Generate symbolic compliance engine interface
  entry: src/modules/complianceengine/src/lib/GenInterface.py
  language: python
  require_serial: true

Work in progress
  src/common/asb/Asb.c
  src/common/commonutils/UserUtils.c
  src/modules/securitybaseline/src/lib/SecurityBaseline.c
  src/modules/securitybaseline/src/so/SecurityBaselineModule.c
Due: none

Work in progress
  src/modules/securitybaseline/src/so/SecurityBaselineModule.c
Due: none

Work in progress
  src/modules/securitybaseline/src/lib/SecurityBaseline.c
  src/modules/securitybaseline/src/so/SecurityBaselineModule.c
Due: none

Rename Oval.h to Behavior
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/Behavior.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.h
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.h
Due: clang-tidy, compliance-engine-interface

Revert the if to order const = runtimeValue
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
Due: clang-tidy

Fix typos
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
Due: clang-tidy

add behavours & recursion
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: clang-tidy

Work in progress
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/CrashHandler.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/commonutils/CrashHandler.c
  src/common/commonutils/UserUtils.c
Due: none

Work in progress
  src/common/commonutils/CrashHandler.c
Due: none

Work in progress
  src/common/commonutils/CrashHandler.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/commonutils/CommonUtils.h
Due: none

Work in progress
  src/common/commonutils/UserUtils.c
Due: none

Work in progress
  src/adapters/mc/OsConfigResource.c
  src/common/asb/Asb.c
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/CrashHandler.c
  src/common/commonutils/FileUtils.c
  src/common/tests/CommonUtilsUT.cpp
  src/modules/securitybaseline/src/lib/SecurityBaseline.c
Due: none

Work in progress
  src/common/commonutils/FileUtils.c
Due: none

Work in progress
  src/modules/securitybaseline/src/lib/SecurityBaseline.c
Due: none

Fix Behavior indicators output and logs
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: clang-tidy

Telemetry:Tests: Disable Telemetry tests that fails when build -DBUILD_TELEMETRY=0
  src/common/tests/TelemetryUT.cpp
Due: none

Path conditions:
  clang-tidy: any of: (?x)(
^src/modules/complianceengine/src/.*\.h$|
^src/modules/complianceengine/src/.*\.cpp$|
^src/compliance-engine-assessor/.*\.hpp$|
^src/compliance-engine-assessor/.*\.cpp$|
^src/common/telemetry/.*\.h$|
^src/common/telemetry/.*\.hpp$|
^src/common/telemetry/.*\.c$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  compliance-engine-interface: any of: (?x)(
^src/modules/complianceengine/src/lib/payload.schema.json$|
^src/modules/complianceengine/src/lib/procedures/.*\.h$|
^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.json$
