Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

clang-tidy:
  name: Run clang-tidy
  entry: src/tests/clang-tidy/run-clang-tidy.py
  language: python
  additional_dependencies:
  - clang-tidy

compliance-engine-interface:
  name: Generate symbolic compliance engine interface
  entry: src/modules/complianceengine/src/lib/GenInterface.py
  language: python
  require_serial: true

packages: remove obsolete debian/rpm packages
  devops/debian/README.md
  devops/debian/postinst
  devops/debian/postrm
  devops/debian/prerm
  devops/rpm/changelog
  devops/rpm/postinst
  devops/rpm/postun
  devops/rpm/preun
Due: none

MOF parser hardening (#1285)
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/fuzzer/CMakeLists.txt
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/.gitignore
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/audit_minimal.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/init_audit.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/remediate_minimal.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/truncated.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/two_entries.mof
  src/modules/complianceengine/src/assessor/fuzzer/target.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
  src/modules/complianceengine/src/lib/payload.schema.json
Due: clang-tidy, compliance-engine-interface

telemetry: fix ILogManager ownership mismatch causing second-test corruption
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/Telemetry.hpp
Due: clang-tidy

Telemetry: Fail initialization if cache file cannot be opened
  src/common/telemetry/bin/main.cpp
  src/common/telemetry/bin/tests/TelemetryBinTests.cpp
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/Telemetry.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
  src/tests/fuzzer/target.cpp
Due: clang-tidy

doc: Update adapters NRP documentation for Kompli
  src/adapters/mc/README.md
Due: none

cmake: top level -Wall
  src/CMakeLists.txt
Due: none

Do not treat missing package manager as hard error
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

ci: secuirty expand CODEOWNERS protection for .github/
  .github/CODEOWNERS
Due: none

ci: build-containers relax container signature verification
  .github/actions/container-run/action.yml
  .github/workflows/build-containers.yml
Due: none

Do not treat missing package manager as hard error (#1289)
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

Iinitial support for STIG benchmarks (#1288)
  src/modules/complianceengine/src/lib/BenchmarkInfo.cpp
  src/modules/complianceengine/src/lib/BenchmarkInfo.h
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/ContextInterface.h
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.cpp
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.h
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.schema.json
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.h
  src/modules/complianceengine/tests/BenchmarkInfoTest.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/MockContext.h
  src/modules/complianceengine/tests/procedures/NetworkInterfaceFlagTest.cpp
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
Due: clang-tidy, compliance-engine-interface

ci: dependabot: fix it codeql action that analyze and init are from same version
  .github/workflows/codeql.yml
Due: none

ci: dependabot use groups to upgrade ci in one go insteady of multiple pr's
  .github/dependabot.yml
Due: none

Telemetry: fix cmake flags to be -Wall, -Wextra, etc
  src/common/telemetry/bin/CMakeLists.txt
  src/common/telemetry/bin/tests/CMakeLists.txt
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: none

Telemetry: Fail initialization if cache file cannot be opened (#1287)
  src/adapters/mc/CMakeLists.txt
  src/common/telemetry/bin/main.cpp
  src/common/telemetry/bin/tests/TelemetryBinTests.cpp
  src/common/telemetry/lib/CMakeLists.txt
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/Telemetry.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
  src/tests/fuzzer/CMakeLists.txt
  src/tests/fuzzer/target.cpp
Due: clang-tidy

Update src/adapters/mc/README.md
  src/adapters/mc/README.md
Due: none

Add distribution check to the assessor
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/tests/BenchmarkInfoTest.cpp
  src/modules/complianceengine/tests/DistributionInfoTest.cpp
Due: clang-tidy

Report failure when an inapplicable rule is detected
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

Relax MOF parser: Skip the OMI_ConfigurationDocument block
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

Address code review issues #1
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/escaped_field_values.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/escaped_version_payloadkey.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/no_newline_after_header.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/no_newline_preamble.mof
  src/modules/complianceengine/src/lib/BenchmarkInfo.h
  src/modules/complianceengine/tests/BenchmarkInfoTest.cpp
Due: clang-tidy

Skip pre-commit on seed corpus
  .pre-commit-config.yaml
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/no_newline_after_header.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/no_newline_preamble.mof
Due: none

Add round-trip tests for the suggested overrides
  src/modules/complianceengine/tests/BenchmarkInfoTest.cpp
Due: none

Address code review issues #1
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/configuration_document.mof
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

Address code review issues #2
  .pre-commit-config.yaml
Due: none

Address code review issues #3
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

Relax MOF parser: Skip the OMI_ConfigurationDocument block (#1291)
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/configuration_document.mof
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

Add distribution check to the assessor (#1290)
  .pre-commit-config.yaml
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/escaped_field_values.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/escaped_version_payloadkey.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/no_newline_after_header.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/no_newline_preamble.mof
  src/modules/complianceengine/src/lib/BenchmarkInfo.h
  src/modules/complianceengine/tests/BenchmarkInfoTest.cpp
  src/modules/complianceengine/tests/DistributionInfoTest.cpp
Due: clang-tidy

ci: fuzzing: silence warning caught by -Wall
  src/tests/fuzzer/target.cpp
Due: none

Introduce unified benchmark definition schema
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/GenInterface.py
  src/modules/complianceengine/src/lib/benchmark.schema.json
  src/modules/complianceengine/src/lib/payload.schema.json
Due: compliance-engine-interface

fix: Apply OSSF warn fixes to Dockerfiles
  devops/docker/almalinux-9-amd64/Dockerfile
  devops/docker/debian-11-amd64/Dockerfile
  devops/docker/debian-12-amd64/Dockerfile
  devops/docker/oraclelinux-8-amd64/Dockerfile
  devops/docker/rhel-8-amd64/Dockerfile
  devops/docker/rhel-9-amd64/Dockerfile
  devops/docker/rockylinux-9-amd64/Dockerfile
  devops/docker/sles-15-amd64/Dockerfile
  devops/docker/ubuntu-20.04-amd64/Dockerfile
  devops/docker/ubuntu-22.04-amd64/Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile
Due: none

fix: Pin pip dependencies per OpenSSF recommendations
  devops/docker/sles-15-amd64/Dockerfile
Due: none

chore: Add SPDX license identifier to fix OSSF misidenfiying license type as non-OSI
  LICENSE
Due: none

fix: Use file to specify hashes to pip.
  devops/docker/sles-15-amd64/Dockerfile
Due: none

Add k8s envelope
  src/modules/complianceengine/src/lib/benchmark.schema.json
Due: none

Introduce unified benchmark definition schema (#1293)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/GenInterface.py
  src/modules/complianceengine/src/lib/benchmark.schema.json
  src/modules/complianceengine/src/lib/payload.schema.json
Due: compliance-engine-interface

ci: update containers to one from PR#91 hardcodes sha, rebuild from admin PR
  .github/test-matrix.json
Due: none

Path conditions:
  clang-tidy: any of: (?x)(
^src/modules/complianceengine/src/.*\.h$|
^src/modules/complianceengine/src/.*\.cpp$|
^src/compliance-engine-assessor/.*\.hpp$|
^src/compliance-engine-assessor/.*\.cpp$|
^src/common/telemetry/.*\.h$|
^src/common/telemetry/.*\.hpp$|
^src/common/telemetry/.*\.c$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  compliance-engine-interface: any of: (?x)(
^src/modules/complianceengine/src/lib/payload.schema.json$|
^src/modules/complianceengine/src/lib/procedures/.*\.h$|
^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.json$
