Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

clang-tidy:
  name: Run clang-tidy
  entry: src/tests/clang-tidy/run-clang-tidy.py
  language: python
  additional_dependencies:
  - clang-tidy

compliance-engine-interface:
  name: Generate symbolic compliance engine interface
  entry: src/modules/complianceengine/src/lib/GenInterface.py
  language: python
  require_serial: true

Fix for ASB's 'Ensure lockout for failed password attempts is configured (CIS: L1 - Server - 5.3.2;') for RHEL 8 and similar (#1274)
  src/common/asb/Asb.c
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/PassUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Fix for ASB's 'Ensure lockout for failed password attempts is configured (CIS: L1 - Server - 5.3.2;') for RHEL 8 and similar (#1274) (#1275)
  src/common/asb/Asb.c
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/PassUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Fix MC Test timeouts (#1271)
  .github/actions/defer-tests/action.yml
Due: none

Fix for ASB's 'Ensure lockout for failed password attempts is configured (CIS: L1 - Server - 5.3.2;') for RHEL 8 and similar (#1274) (#1275)
  src/common/asb/Asb.c
  src/common/commonutils/PassUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Intial CeTelemetry class
  src/common/telemetry/lib/Telemetry.cpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/CeTelemetry.cpp
  src/modules/complianceengine/src/lib/CeTelemetry.h
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/ContextInterface.h
  src/modules/complianceengine/src/lib/DirTools.cpp
  src/modules/complianceengine/src/lib/DirTools.h
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/EngineTelemetryTest.cpp
  src/modules/complianceengine/tests/MockContext.h
Due: clang-tidy

Cmake: make subproject fails if on OsConfigTelemetryApiKey is defined
  src/common/telemetry/lib/CMakeLists.txt
Due: none

fix command injection in procedure shell commands
  src/modules/complianceengine/src/lib/StringTools.cpp
  src/modules/complianceengine/src/lib/StringTools.h
  src/modules/complianceengine/src/lib/procedures/FirewalldZoneTargets.cpp
  src/modules/complianceengine/src/lib/procedures/GsettingsValue.cpp
  src/modules/complianceengine/src/lib/procedures/SshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdUnitState.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/StringToolsTest.cpp
Due: clang-tidy

security(complianceengine): fix additional command injection and path traversal vulnerabilities
  src/modules/complianceengine/src/lib/SystemdCatConfig.cpp
  src/modules/complianceengine/src/lib/procedures/FilesystemMountOption.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
Due: clang-tidy

naming fixes
  src/modules/complianceengine/tests/procedures/FilesystemMountOptionTest.cpp
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
Due: none

test(complianceengine): add security validation tests for EnsureSysctl
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
Due: none

fix(complianceengine): update tests to match security-hardened command formats
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
  src/modules/complianceengine/tests/StringToolsTest.cpp
  src/modules/complianceengine/tests/procedures/FilesystemMountOptionTest.cpp
  src/modules/complianceengine/tests/procedures/FirewalldZoneTargetsTest.cpp
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
  src/modules/complianceengine/tests/procedures/SystemdConfigTest.cpp
  src/modules/complianceengine/tests/procedures/SystemdUnitStateTest.cpp
Due: clang-tidy

fix command injection in procedure shell commands (#1268)
  src/modules/complianceengine/src/lib/StringTools.cpp
  src/modules/complianceengine/src/lib/StringTools.h
  src/modules/complianceengine/src/lib/SystemdCatConfig.cpp
  src/modules/complianceengine/src/lib/procedures/FilesystemMountOption.cpp
  src/modules/complianceengine/src/lib/procedures/FirewalldZoneTargets.cpp
  src/modules/complianceengine/src/lib/procedures/GsettingsValue.cpp
  src/modules/complianceengine/src/lib/procedures/SshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdUnitState.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/StringToolsTest.cpp
  src/modules/complianceengine/tests/procedures/FilesystemMountOptionTest.cpp
  src/modules/complianceengine/tests/procedures/FirewalldZoneTargetsTest.cpp
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
  src/modules/complianceengine/tests/procedures/SystemdConfigTest.cpp
  src/modules/complianceengine/tests/procedures/SystemdUnitStateTest.cpp
Due: clang-tidy

assessor: handle escaped quotes in MOF GetValue
  src/modules/complianceengine/src/assessor/Mof.cpp
Due: clang-tidy

RootPathSecurity: invoke sudo with -n to avoid blocking on a tty
  src/modules/complianceengine/src/lib/procedures/RootPathSecurity.cpp
  src/modules/complianceengine/tests/procedures/RootPathSecurityTest.cpp
Due: clang-tidy

assessor: extract CLI and MOF iteration into a testable library
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CliOptions.cpp
  src/modules/complianceengine/src/assessor/CliOptions.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
  src/modules/complianceengine/src/assessor/tests/CliOptionsTest.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

Move temporary telemetry file
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

Enhance MOF string value parsing and add unit tests for Resource::ParseSingleEntry
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/MofTest.cpp
Due: clang-tidy

RootPathSecurity: invoke sudo with -n to avoid blocking on a tty (#1277)
  src/modules/complianceengine/src/lib/procedures/RootPathSecurity.cpp
  src/modules/complianceengine/tests/procedures/RootPathSecurityTest.cpp
Due: clang-tidy

Move temporary telemetry file (#1280)
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

Move temporary telemetry file (#1279)
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

Create distinct context classess for assessor and GC module
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/lib/AssessorContext.h
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/ContextInterface.h
  src/modules/complianceengine/src/lib/GuestConfigurationContext.h
  src/modules/complianceengine/src/lib/Users.cpp
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
  src/modules/complianceengine/tests/CommonContextTest.cpp
  src/modules/complianceengine/tests/MockContext.h
Due: clang-tidy

Drop the path from PackageInstalled
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

Add missing state path prefix
  src/modules/complianceengine/src/lib/CommonContext.h
Due: clang-tidy

Address code review issues #1
  src/modules/complianceengine/src/lib/AssessorContext.h
  src/modules/complianceengine/tests/AssessorContextTest.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/CommonContextTest.cpp
Due: clang-tidy

Address code review issues #2
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/GuestConfigurationContext.cpp
  src/modules/complianceengine/src/lib/GuestConfigurationContext.h
Due: clang-tidy

Address code review issues #3
  src/modules/complianceengine/tests/CommonContextTest.cpp
Due: none

Address code review issues #4
  src/modules/complianceengine/src/lib/AssessorContext.h
Due: clang-tidy

Address code review issues #5
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: none

Address code review issues #6
  src/modules/complianceengine/src/lib/AssessorContext.h
Due: clang-tidy

assessor: handle escaped quotes in MOF GetValue (#1276)
  src/modules/complianceengine/src/assessor/Mof.cpp
Due: clang-tidy

Create distinct context classess for assessor and GC module (#1281)
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/lib/AssessorContext.h
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/ContextInterface.h
  src/modules/complianceengine/src/lib/GuestConfigurationContext.cpp
  src/modules/complianceengine/src/lib/GuestConfigurationContext.h
  src/modules/complianceengine/src/lib/Users.cpp
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
  src/modules/complianceengine/tests/AssessorContextTest.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/CommonContextTest.cpp
  src/modules/complianceengine/tests/MockContext.h
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

Return 1 only in case of error
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

Implement Copy Fail Mitigation procedure with associated BPF and schema files
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/CopyFailMitigation.cpp
  src/modules/complianceengine/src/lib/procedures/CopyFailMitigation.h
  src/modules/complianceengine/src/lib/procedures/CopyFailMitigation.schema.json
  src/modules/complianceengine/src/lib/procedures/bpf/CopyFailMitigation.bpf.c
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/procedures/CopyFailMitigationTest.cpp
Due: clang-tidy, compliance-engine-interface

Path conditions:
  clang-tidy: any of: (?x)(
^src/modules/complianceengine/src/.*\.h$|
^src/modules/complianceengine/src/.*\.cpp$|
^src/compliance-engine-assessor/.*\.hpp$|
^src/compliance-engine-assessor/.*\.cpp$|
^src/common/telemetry/.*\.h$|
^src/common/telemetry/.*\.hpp$|
^src/common/telemetry/.*\.c$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  compliance-engine-interface: any of: (?x)(
^src/modules/complianceengine/src/lib/payload.schema.json$|
^src/modules/complianceengine/src/lib/procedures/.*\.h$|
^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.json$
