Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

Fix package-build workflow to support different toolchains
  .github/workflows/package-build.yml
Due: none

Universalnrp-test: fix container version to the one that can build NRP
  .github/workflows/universalnrp-test.yml
Due: none

vcpkg: fix gtest version to work on universal nrp
  src/vcpkg.json
Due: none

Revert "vcpkg: fix gtest version to work on universal nrp"
  src/vcpkg.json
Due: none

heredoc change
  .github/actions/container-exec/action.yml
Due: none

WIP container-exec test
  .github/actions/container-exec/action.yml
Due: none

modified container-exec to accept stdin
  .github/actions/container-exec/action.yml
Due: none

Fix package-build workflow to support different toolchains (#1221)
  .github/actions/container-exec/action.yml
  .github/workflows/package-build.yml
Due: none

Bump codeql-action@v4 (#1222)
  .github/workflows/codeql.yml
Due: none

increased Asb audit rule threshold
  src/common/asb/Asb.c
Due: none

changed activityId to use constant
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Aggregate matrix workflow jobs and fix job names
  .github/workflows/ci-sanitizers.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzzing.yml
  .github/workflows/module-test.yml
  .github/workflows/static-analysis.yml
Due: none

Aggregate matrix workflow jobs and fix job names (#1226)
  .github/workflows/ci-sanitizers.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzzing.yml
  .github/workflows/module-test.yml
  .github/workflows/static-analysis.yml
Due: none

Fix package-build cmake arguments
  .github/workflows/package-build.yml
Due: none

Removed LogPerfClock from Asb
  src/common/asb/Asb.c
Due: none

Fix package-build cmake arguments (#1227)
  .github/workflows/package-build.yml
Due: none

Changed activityId to use constant (#1225)
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Remove Telemetry noise for rules that may take too long to process on customer's side
  src/common/commonutils/PerfUtils.c
Due: none

Remove Telemetry noise for rules that may take too long to process on customer's side (#1229)
  src/common/commonutils/PerfUtils.c
Due: none

Update files
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/telemetry/bin/main.cpp
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/Telemetry.hpp
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

Refactor initialization and cleanup
  src/adapters/mc/OsConfigResource.c
  src/common/asb/Asb.c
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

Fix test
  src/common/tests/TelemetryUT.cpp
Due: none

Fix argument
  src/common/telemetry/Telemetry.c
Due: none

Fix argument
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Fix length for module directory
  src/common/telemetry/Telemetry.c
Due: none

Remove test
  src/common/tests/TelemetryUT.cpp
Due: none

Rename function and remove inline
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

Improve telemetry reliability (#1230)
  src/adapters/mc/OsConfigResource.c
  src/common/asb/Asb.c
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/telemetry/bin/main.cpp
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/Telemetry.hpp
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

Initialize telemetry
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
Due: clang-tidy

Move CloseLog
  src/modules/complianceengine/src/so/ComplianceEngineModule.c
Due: none

Telemetry: Fix build when -DBUILD_TELEMETRY=0, gcc complains [-Werror=unused-function]
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Telemetry: Fix build when -DBUILD_TELEMETRY=0, gcc complains [-Werror=unused-function] (#1233)
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Initialize telemetry for CE (#1232)
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/so/ComplianceEngineModule.c
Due: clang-tidy

Use audit if remediation is not available
  src/modules/complianceengine/src/lib/Engine.cpp
Due: clang-tidy

Add rekeylimit specially handled value to EnsureSshdOption
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/tests/procedures/EnsureSshdOptionTest.cpp
Due: clang-tidy

Add non-recursive mode to EnsureFilePermissionCollection
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.schema.json
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: clang-tidy, compliance-engine-interface

Read extra configs on fed systems in EnsureSshdOptions
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.h
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.schema.json
  src/modules/complianceengine/tests/procedures/EnsureSshdOptionTest.cpp
Due: clang-tidy, compliance-engine-interface

Fix ASB user accounts enumeration for user accounts not found in shadow users database (#1056)
  src/common/commonutils/FileUtils.c
Due: none

Removing unused argument 'rootCanOverwriteOwnership' from commonutils function CheckDirectoryAccess (#1058)
  src/common/commonutils/FileUtils.c
Due: none
