Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

cmake: fix fuzzer+telemetry build ordering with Ninja
  src/adapters/mc/CMakeLists.txt
  src/tests/fuzzer/CMakeLists.txt
Due: none

fix: telemetry: declare 1DS build byproduct for ExternalProject
  src/common/telemetry/lib/CMakeLists.txt
Due: none

ci: install python3 in EOL/legacy container images
  devops/docker/amazonlinux-2-amd64/Dockerfile
  devops/docker/centos-8-amd64/Dockerfile
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/oraclelinux-8-amd64/Dockerfile
  devops/docker/rhel-8-amd64/Dockerfile
  devops/docker/sles-15-amd64/Dockerfile
Due: none

fix(ci): bump cosign-installer to v4.1.2 in container-run action
  .github/actions/container-run/action.yml
Due: none

[STIG] P1
  src/modules/complianceengine/src/lib/BenchmarkInfo.cpp
  src/modules/complianceengine/src/lib/BenchmarkInfo.h
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/CommandOutputMatch.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.h
  src/modules/complianceengine/src/lib/procedures/SysctlValue.schema.json
  src/modules/complianceengine/tests/BenchmarkInfoTest.cpp
Due: clang-tidy, compliance-engine-interface

ci: remove containers for distro past end of life
  devops/docker/amazonlinux-2-amd64/Dockerfile
  devops/docker/centos-8-amd64/Dockerfile
  devops/docker/debian-10-amd64/Dockerfile
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/mariner-2-amd64/Dockerfile
Due: none

ci: ensure Python 3.7+ venv in all build containers
  devops/docker/almalinux-9-amd64/Dockerfile
  devops/docker/azurelinux-3-amd64/Dockerfile
  devops/docker/debian-11-amd64/Dockerfile
  devops/docker/debian-12-amd64/Dockerfile
  devops/docker/oraclelinux-8-amd64/Dockerfile
  devops/docker/rhel-8-amd64/Dockerfile
  devops/docker/rhel-9-amd64/Dockerfile
  devops/docker/rockylinux-9-amd64/Dockerfile
  devops/docker/sles-15-amd64/Dockerfile
  devops/docker/ubuntu-20.04-amd64/Dockerfile
  devops/docker/ubuntu-22.04-amd64/Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile
Due: none

Address code review issues #1
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.h
Due: clang-tidy, compliance-engine-interface

Address code review issues #2
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
Due: none

Address code review issues #3
  src/modules/complianceengine/src/lib/procedures/CommandOutputMatch.cpp
Due: clang-tidy

Address code review issues #4
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/CommandOutputMatch.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
Due: clang-tidy, compliance-engine-interface

Add missing files
  src/modules/complianceengine/src/lib/procedures/NetworkInterface.cpp
  src/modules/complianceengine/src/lib/procedures/NetworkInterface.h
  src/modules/complianceengine/src/lib/procedures/NetworkInterface.schema.json
  src/modules/complianceengine/tests/procedures/NetworkInterfaceTest.cpp
Due: clang-tidy, compliance-engine-interface

Fix code formatting
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

Add Lua logging interface (#1286)
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.h
  src/modules/complianceengine/tests/LuaEvaluatorTest.cpp
  src/modules/complianceengine/tests/MockContext.h
Due: clang-tidy

assessor: extract CLI and MOF iteration into a testable library (#1278)
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CliOptions.cpp
  src/modules/complianceengine/src/assessor/CliOptions.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
  src/modules/complianceengine/src/assessor/tests/CliOptionsTest.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

assessor: harden process and input handling (#1284)
  .clang-tidy
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CliOptions.cpp
  src/modules/complianceengine/src/assessor/InputSecurity.cpp
  src/modules/complianceengine/src/assessor/InputSecurity.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
  src/modules/complianceengine/src/assessor/tests/InputSecurityTest.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

ci: replace org team API membership check with allowlist file
  .github/actions/container-run/action.yml
  .github/allowed-container-signing
  .github/workflows/build-containers.yml
Due: none

ci: update containers to version with Python 3.7+ venv in all build containers
  .github/test-matrix.json
  devops/docker/sles-15-amd64/Dockerfile
Due: none

build: drive GenInterface.py from CMake
  src/modules/complianceengine/src/lib/CMakeLists.txt
Due: none

ci: replace pre-commit with native shell hooks
  .github/workflows/formatting.yml
  devops/scripts/hooks-src/clang-format.sh
  devops/scripts/hooks-src/clang-tidy.sh
  devops/scripts/hooks-src/common.sh
  devops/scripts/hooks-src/line-endings.sh
  devops/scripts/hooks-src/trailing-whitespace.sh
  devops/scripts/hooks/.keep-me
  devops/scripts/run-hooks.sh
Due: none

Address code review issues #5
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/NetworkInterface.cpp
  src/modules/complianceengine/src/lib/procedures/NetworkInterface.h
  src/modules/complianceengine/src/lib/procedures/NetworkInterface.schema.json
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.h
  src/modules/complianceengine/src/lib/procedures/SysctlValue.schema.json
  src/modules/complianceengine/tests/procedures/NetworkInterfaceTest.cpp
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
Due: clang-tidy, compliance-engine-interface

Address code review issues #6
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/ContextInterface.h
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/NetworkInterface.cpp
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.cpp
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.h
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.schema.json
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/MockContext.h
  src/modules/complianceengine/tests/procedures/NetworkInterfaceFlagTest.cpp
  src/modules/complianceengine/tests/procedures/NetworkInterfaceTest.cpp
Due: clang-tidy, compliance-engine-interface

Address code review issues #7
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
Due: clang-tidy

Address code review issues #8
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.cpp
Due: clang-tidy

Address code review issues #9
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
  src/modules/complianceengine/tests/procedures/NetworkInterfaceFlagTest.cpp
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
Due: clang-tidy

ci: accept PR-signed containers on scheduled and push CI
  .github/actions/container-run/action.yml
Due: none

ci: formatting use WSL version for formating check, remove extra brackets and installation issues
  .github/workflows/formatting.yml
  devops/scripts/hooks-src/clang-format.sh
  devops/scripts/hooks-src/clang-tidy.sh
  devops/scripts/hooks-src/line-endings.sh
  devops/scripts/hooks-src/trailing-whitespace.sh
  devops/scripts/run-hooks.sh
Due: none

ci: fix stale formatting problems not detected by hooks in commited files
  src/common/telemetry/bin/args.cpp
  src/common/telemetry/bin/main.cpp
  src/common/telemetry/bin/tests/TelemetryBinTests.cpp
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: none

Iinitial support for STIG benchmarks (#1288)
  src/modules/complianceengine/src/lib/BenchmarkInfo.cpp
  src/modules/complianceengine/src/lib/BenchmarkInfo.h
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/ContextInterface.h
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.cpp
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.h
  src/modules/complianceengine/src/lib/procedures/NetworkInterfaceFlag.schema.json
  src/modules/complianceengine/src/lib/procedures/SysctlValue.cpp
  src/modules/complianceengine/src/lib/procedures/SysctlValue.h
  src/modules/complianceengine/tests/BenchmarkInfoTest.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/MockContext.h
  src/modules/complianceengine/tests/procedures/NetworkInterfaceFlagTest.cpp
  src/modules/complianceengine/tests/procedures/SysctlValueTest.cpp
Due: clang-tidy, compliance-engine-interface

ci: add merge_group trigger to unblock merge queue
  .github/workflows/ci.yml
  .github/workflows/formatting.yml
Due: none

ci: fix build steps names
  .github/workflows/ci-gcovr.yml
  .github/workflows/ci-sanitizers.yml
Due: none

docs: update rodmap for new project - for now placeholder
  docs/roadmap.md
Due: none

MOF parser hardening
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/fuzzer/CMakeLists.txt
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/.gitignore
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/audit_minimal.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/init_audit.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/remediate_minimal.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/truncated.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/two_entries.mof
  src/modules/complianceengine/src/assessor/fuzzer/target.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

ci: fix merge queue check failures in formatting workflows
  .github/workflows/formatting.yml
Due: none

Address code review issues #1
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

Address code review issues #2
  src/modules/complianceengine/src/assessor/Mof.cpp
Due: clang-tidy

Fix invalid payload.schema.json
  src/modules/complianceengine/src/lib/payload.schema.json
Due: compliance-engine-interface

docs: update architecture to Kompli
  docs/architecture.md
Due: none

docs: remove unused assets/pictures
  docs/assets/1_monolith.png
  docs/assets/2_modules.png
  docs/assets/3_watcher.png
  docs/assets/4_platform.png
  docs/assets/5_guestconfig.png
  docs/assets/6_fallback.png
  docs/assets/7_osconfig_ge.png
  docs/assets/8_osconfig_di.png
  docs/assets/agent.png
  docs/assets/bigpicture.png
  docs/assets/desiredreported.png
  docs/assets/downloader.png
  docs/assets/modulehost.png
  docs/assets/modules.png
  docs/assets/modulesmanager.png
  docs/assets/orchestration.png
  docs/assets/osconfig.png
  docs/assets/platform.png
  docs/assets/securestore.png
Due: none
