Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

Add ruleId and host info to the assessor reults
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

JUnit renderer
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CliOptions.cpp
  src/modules/complianceengine/src/assessor/CliOptions.hpp
  src/modules/complianceengine/src/assessor/JUnitRenderer.cpp
  src/modules/complianceengine/src/assessor/JUnitRenderer.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
  src/modules/complianceengine/src/assessor/tests/CliOptionsTest.cpp
  src/modules/complianceengine/src/assessor/tests/JUnitRendererTest.cpp
  src/modules/complianceengine/src/assessor/tests/JsonFormatterTest.cpp
Due: clang-tidy

JSON schema
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.hpp
  src/modules/complianceengine/src/assessor/DebugFormatter.hpp
  src/modules/complianceengine/src/assessor/JsonFormatter.hpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.hpp
  src/modules/complianceengine/src/assessor/assessor-result.schema.json
  src/modules/complianceengine/src/assessor/tests/AssessorResultSchemaTest.cpp
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
Due: clang-tidy

Add parameters to the output
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.cpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.hpp
  src/modules/complianceengine/src/assessor/DebugFormatter.cpp
  src/modules/complianceengine/src/assessor/DebugFormatter.hpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.cpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.hpp
  src/modules/complianceengine/src/assessor/tests/JsonFormatterTest.cpp
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/Engine.h
  src/modules/complianceengine/tests/EngineTest.cpp
Due: clang-tidy

Add `render` option
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CliOptions.cpp
  src/modules/complianceengine/src/assessor/CliOptions.hpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.cpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.hpp
  src/modules/complianceengine/src/assessor/DebugFormatter.cpp
  src/modules/complianceengine/src/assessor/DebugFormatter.hpp
  src/modules/complianceengine/src/assessor/JUnitRenderer.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.cpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.hpp
  src/modules/complianceengine/src/assessor/assessor-result.schema.json
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
  src/modules/complianceengine/src/assessor/tests/CliOptionsTest.cpp
  src/modules/complianceengine/src/assessor/tests/JUnitRendererTest.cpp
  src/modules/complianceengine/src/assessor/tests/JsonFormatterTest.cpp
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/src/lib/MmiResults.h
  src/modules/complianceengine/tests/EngineTest.cpp
Due: clang-tidy

Revert unnecessary Engine.cpp logic change
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/src/lib/MmiResults.h
Due: clang-tidy

Fixup
  src/modules/complianceengine/src/assessor/CliOptions.hpp
  src/modules/complianceengine/src/assessor/TextRenderers.cpp
  src/modules/complianceengine/src/assessor/TextRenderers.hpp
  src/modules/complianceengine/src/assessor/tests/TextRenderersTest.cpp
Due: clang-tidy

Address code review issues #1
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/JUnitRenderer.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/assessor-result.schema.json
  src/modules/complianceengine/src/assessor/tests/JUnitRendererTest.cpp
  src/modules/complianceengine/src/assessor/tests/JsonFormatterTest.cpp
Due: clang-tidy

Address code review issues #5
  src/modules/complianceengine/src/assessor/JUnitRenderer.cpp
  src/modules/complianceengine/src/assessor/TextRenderers.cpp
  src/modules/complianceengine/src/assessor/tests/TextRenderersTest.cpp
Due: clang-tidy

Address code review issues #3
  src/modules/complianceengine/src/assessor/CliOptions.cpp
Due: clang-tidy

Address code review issues #4
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

Address code review issues #2
  src/modules/complianceengine/src/assessor/TextRenderers.hpp
Due: none

Formatting fixes
  src/modules/complianceengine/src/assessor/CliOptions.cpp
Due: clang-tidy

Address code review issues #7
  src/modules/complianceengine/src/assessor/JUnitRenderer.cpp
  src/modules/complianceengine/src/assessor/TextRenderers.cpp
  src/modules/complianceengine/src/lib/StringTools.cpp
  src/modules/complianceengine/src/lib/StringTools.h
Due: clang-tidy

Address code review issues #6
  src/modules/complianceengine/src/assessor/TextRenderers.hpp
Due: none

Address code review issues #8
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.cpp
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/JUnitRenderer.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/TextRenderers.cpp
  src/modules/complianceengine/src/assessor/assessor-result.schema.json
  src/modules/complianceengine/src/assessor/tests/AssessorResultSchemaTest.cpp
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
  src/modules/complianceengine/src/assessor/tests/JsonFormatterTest.cpp
  src/modules/complianceengine/src/lib/MmiResults.h
Due: clang-tidy

Add missing file
  src/modules/complianceengine/src/assessor/tests/BenchmarkFormatterTest.cpp
Due: clang-tidy

Address code review issues #9
  src/modules/complianceengine/src/assessor/assessor-result.schema.json
Due: none

Address code review issues #10
  src/modules/complianceengine/src/assessor/tests/BenchmarkFormatterTest.cpp
Due: clang-tidy

Add new `render` subcommand to the assessor (#1292)
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.cpp
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CliOptions.cpp
  src/modules/complianceengine/src/assessor/CliOptions.hpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.cpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.hpp
  src/modules/complianceengine/src/assessor/DebugFormatter.cpp
  src/modules/complianceengine/src/assessor/DebugFormatter.hpp
  src/modules/complianceengine/src/assessor/JUnitRenderer.cpp
  src/modules/complianceengine/src/assessor/JUnitRenderer.hpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.cpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.hpp
  src/modules/complianceengine/src/assessor/TextRenderers.cpp
  src/modules/complianceengine/src/assessor/TextRenderers.hpp
  src/modules/complianceengine/src/assessor/assessor-result.schema.json
  src/modules/complianceengine/src/assessor/tests/AssessorResultSchemaTest.cpp
  src/modules/complianceengine/src/assessor/tests/BenchmarkFormatterTest.cpp
  src/modules/complianceengine/src/assessor/tests/CMakeLists.txt
  src/modules/complianceengine/src/assessor/tests/CliOptionsTest.cpp
  src/modules/complianceengine/src/assessor/tests/JUnitRendererTest.cpp
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
  src/modules/complianceengine/src/assessor/tests/TextRenderersTest.cpp
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/Engine.h
  src/modules/complianceengine/src/lib/MmiResults.h
  src/modules/complianceengine/src/lib/StringTools.cpp
  src/modules/complianceengine/src/lib/StringTools.h
  src/modules/complianceengine/tests/EngineTest.cpp
Due: clang-tidy

Fix invalid handling of comma-separated mach modes
  src/modules/complianceengine/src/lib/procedures/SshdOption.cpp
  src/modules/complianceengine/tests/procedures/SshdOptionTest.cpp
Due: clang-tidy

Introduce unified benchmark definition schema (#1293)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/GenInterface.py
  src/modules/complianceengine/src/lib/benchmark.schema.json
  src/modules/complianceengine/src/lib/payload.schema.json
Due: compliance-engine-interface

Add distribution check to the assessor (#1290)
  .pre-commit-config.yaml
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/escaped_field_values.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/escaped_version_payloadkey.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/no_newline_after_header.mof
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/no_newline_preamble.mof
  src/modules/complianceengine/src/lib/BenchmarkInfo.h
  src/modules/complianceengine/tests/BenchmarkInfoTest.cpp
  src/modules/complianceengine/tests/DistributionInfoTest.cpp
Due: clang-tidy

Relax MOF parser: Skip the OMI_ConfigurationDocument block (#1291)
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/fuzzer/seed_corpus/configuration_document.mof
  src/modules/complianceengine/src/assessor/tests/MofTest.cpp
Due: clang-tidy

Match UFW status patterns per line
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
  src/modules/complianceengine/tests/procedures/ufwStatusTest.cpp
Due: clang-tidy

Match UFW status patterns per line (#1295)
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
  src/modules/complianceengine/tests/procedures/ufwStatusTest.cpp
Due: clang-tidy

chore: Enable OpenSSF scorecard badge and fix single remaining unpinned dependency
  .github/workflows/package-build.yml
  README.md
Due: none

build: fix kompli-fuzzer dependency when building telemetry
  src/tests/fuzzer/CMakeLists.txt
Due: none

Allow daemon-owned logfiles
  src/modules/complianceengine/src/lib/procedures/LogFilePermissions.cpp
  src/modules/complianceengine/tests/procedures/LogFilePermissionsTest.cpp
Due: clang-tidy

Require blocklist only for kernel modules that exist in running kernel
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/src/lib/KernelModuleTools.h
  src/modules/complianceengine/src/lib/procedures/KernelModule.cpp
  src/modules/complianceengine/src/lib/procedures/WirelessDisabled.cpp
  src/modules/complianceengine/tests/procedures/KernelModuleTest.cpp
Due: clang-tidy

Require blocklist only for kernel modules that exist in running kernel
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/CommonContext.h
  src/modules/complianceengine/src/lib/ContextInterface.h
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/src/lib/KernelModuleTools.h
  src/modules/complianceengine/src/lib/procedures/KernelModule.cpp
  src/modules/complianceengine/src/lib/procedures/WirelessDisabled.cpp
  src/modules/complianceengine/tests/MockContext.h
  src/modules/complianceengine/tests/procedures/KernelModuleTest.cpp
Due: clang-tidy

dependabot: never update major version Docker images; update rh9 and sles15 images
  .github/dependabot.yml
  devops/docker/rhel-9-amd64/Dockerfile
  devops/docker/sles-15-amd64/Dockerfile
Due: none

telemetry: hide 1DS SDK behind implementation
  src/common/telemetry/bin/main.cpp
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/Telemetry.hpp
Due: clang-tidy

cmake: fuzzing: add missing cmake dependency for telemetry-interface headers
  src/tests/fuzzer/CMakeLists.txt
Due: none

cmake: default disable telemetry in builds
  src/CMakeLists.txt
Due: none

fix: Use canonical MIT license
  LICENSE
Due: none

Fix invalid handling of comma-separated mach modes (#1294)
  src/modules/complianceengine/src/lib/procedures/SshdOption.cpp
  src/modules/complianceengine/tests/procedures/SshdOptionTest.cpp
Due: clang-tidy
