Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

clang-tidy:
  name: Run clang-tidy
  entry: src/tests/clang-tidy/run-clang-tidy.py
  language: python
  additional_dependencies:
  - clang-tidy

compliance-engine-interface:
  name: Generate symbolic compliance engine interface
  entry: src/modules/complianceengine/src/lib/GenInterface.py
  language: python
  require_serial: true

[ASB] Retry package installation without cacheonly option when the package may not be cached (#1210)
  src/common/commonutils/PackageUtils.c
Due: none

Updated container-tag to use latest published tags (#1216)
  .github/workflows/insiders-fast.yml
Due: none

Auditd audit fixes (#1192)
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/tests/procedures/AuditdRulesCheckTest.cpp
Due: clang-tidy

Small fixes for different procedures. (#1180)
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureFirewallOpenPorts.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureNoUnowned.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureShadowContains.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/ExecuteCommandGrep.cpp
  src/modules/complianceengine/src/lib/procedures/ExecuteCommandGrep.h
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/tests/LuaProceduresTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureFirewallOpenPortsTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureShadowContainsTest.cpp
Due: clang-tidy, compliance-engine-interface

Fix indicator formatting regression (#1198)
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/tests/LuaProceduresTest.cpp
Due: clang-tidy

VCPKG integration (#1116)
  src/modules/complianceengine/src/lib/CMakeLists.txt
Due: none

Fix ASB user accounts enumeration for user accounts not found in shadow users database (#1056)
  src/common/commonutils/FileUtils.c
Due: none

Revert "VCPKG integration" (#1151)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/package-build.yml
  .gitignore
  .gitmodules
  src/CMakeLists.txt
  src/adapters/mc/CMakeLists.txt
  src/modules/CMakeLists.txt
  src/tests/fuzzer/CMakeLists.txt
  src/tests/fuzzer/target.cpp
  src/vcpkg.json
  vcpkg-configuration.json
Due: none

Add EnsureFileExists procedure (#1189)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.h
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.schema.json
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.h
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.schema.json
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/procedures/EnsureFileExistsTest.cpp
Due: clang-tidy, compliance-engine-interface

Added fuzzing for Telemetry (#1220)
  .github/workflows/fuzzing-run.yml
  src/CMakeLists.txt
  src/adapters/mc/CMakeLists.txt
  src/common/telemetry/lib/CMakeLists.txt
  src/common/telemetry/lib/Telemetry.cpp
  src/tests/fuzzer/CMakeLists.txt
  src/tests/fuzzer/lsan.suppressions
  src/tests/fuzzer/seed_corpus/ProcessJsonFile.target
  src/tests/fuzzer/seed_corpus/crash-778dddf07f9c31b3259fe5a09d63d16573bd8718
  src/tests/fuzzer/target.cpp
Due: none

Bumped CMake minimum requirement to 3.21 (#1215)
  README.md
  src/CMakeLists.txt
  src/common/telemetry/CMakeLists.txt
Due: none

Improve logging on Universal NRP Pester test (#1218)
  src/tests/universal-nrp-e2e/UniversalNRP.Tests.ps1
Due: none

Changed activityId to use constant (#1225)
  src/common/telemetry/Telemetry.h
Due: clang-tidy

compilanceAssesor: fix segfault when using short options (#1203)
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

build-containers: isolate containers for each branch and write update process for containers (#1172)
  .github/arm64-test-matrix.txt
  .github/test-matrix.json
  .github/workflows/build-containers.yml
  .github/workflows/ci.yml
  devops/README.md
  devops/docker/ubuntu-14.04-amd64/Dockerfile
  devops/docker/ubuntu-14.04-amd64/Dockerfile.2
Due: none

Aggregate matrix workflow jobs and fix job names (#1226)
  .github/workflows/ci-sanitizers.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzzing.yml
  .github/workflows/module-test.yml
  .github/workflows/static-analysis.yml
Due: none

Telemetry: Fix build when -DBUILD_TELEMETRY=0, gcc complains [-Werror=unused-function] (#1233)
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Updated ci to use explicit container tags (#1178)
  .github/actions/container-run/action.yml
  .github/workflows/ci.yml
Due: none

Add Copilot instructions and update README with ComplianceEngine module details
  .github/copilot-instructions.md
  README.md
Due: none

Fixes for multiple rhel10 related benchmarks (#1237)
  .devcontainer/devcontainer.json
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.schema.json
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.h
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.schema.json
  src/modules/complianceengine/tests/EngineTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureSshdOptionTest.cpp
Due: clang-tidy, compliance-engine-interface

Add LoginDefsOption procedure and associated tests
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.cpp
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.h
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.schema.json
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/procedures/LoginDefsOptionTest.cpp
Due: clang-tidy, compliance-engine-interface

Cosmetics #2
  src/modules/complianceengine/src/lib/JsonWrapper.h
Due: clang-tidy

WIP: JSON parameters parsing
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/Engine.h
  src/modules/complianceengine/src/lib/JsonWrapper.cpp
  src/modules/complianceengine/src/lib/JsonWrapper.h
  src/modules/complianceengine/src/lib/Procedure.cpp
  src/modules/complianceengine/src/lib/Procedure.h
  src/modules/complianceengine/src/lib/procedures/EnsureSshKeyPerms.cpp
  src/modules/complianceengine/tests/EngineTest.cpp
  src/modules/complianceengine/tests/EvaluatorTest.cpp
Due: clang-tidy

Cosmetics #3
  src/modules/complianceengine/tests/EvaluatorTest.cpp
  src/tests/fuzzer/target.cpp
Due: none

Cosmetics #1
  src/modules/complianceengine/src/lib/JsonWrapper.h
  src/modules/complianceengine/src/lib/procedures/EnsureSshKeyPerms.cpp
Due: clang-tidy

Cosmetics #4
  src/tests/fuzzer/target.cpp
Due: none

Add error logging for parameter parsing failures in SetProcedure
  src/modules/complianceengine/src/lib/Engine.cpp
Due: clang-tidy

Add getenforce to the list of allowed commands
  src/modules/complianceengine/src/lib/procedures/ExecuteCommandGrep.cpp
Due: clang-tidy

Ensure firewalld procedure
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/EnsureFirewalldActiveZoneTargets.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFirewalldActiveZoneTargets.h
  src/modules/complianceengine/src/lib/procedures/EnsureFirewalldActiveZoneTargets.schema.json
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/procedures/EnsureFirewalldActiveZoneTargetsTest.cpp
Due: clang-tidy, compliance-engine-interface

Systemd v4 support, with operator and block
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.h
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.schema.json
  src/modules/complianceengine/tests/procedures/SystemdConfigTest.cpp
Due: clang-tidy, compliance-engine-interface

Systemd v4 support, ensure firewalld procedure, getenforce command allowed (#1240)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/EnsureFirewalldActiveZoneTargets.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFirewalldActiveZoneTargets.h
  src/modules/complianceengine/src/lib/procedures/EnsureFirewalldActiveZoneTargets.schema.json
  src/modules/complianceengine/src/lib/procedures/ExecuteCommandGrep.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.h
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.schema.json
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/procedures/EnsureFirewalldActiveZoneTargetsTest.cpp
  src/modules/complianceengine/tests/procedures/SystemdConfigTest.cpp
Due: clang-tidy, compliance-engine-interface

Update user parameter parsing to handle stringified JSON
  src/modules/complianceengine/src/lib/Procedure.cpp
  src/modules/complianceengine/tests/EngineTest.cpp
Due: clang-tidy

Implement JsonWrapper::FromRawValue usage in JsonFormatter that was added recently
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/lib/JsonWrapper.cpp
  src/modules/complianceengine/src/lib/JsonWrapper.h
Due: clang-tidy

Update EngineTest to reflect changes in user params JSON parsing
  src/modules/complianceengine/tests/EngineTest.cpp
  src/tests/fuzzer/target.cpp
Due: none

Refactor JsonWrapper to introduce MakeObject method and update FromRawValue to be private
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/lib/JsonWrapper.cpp
  src/modules/complianceengine/src/lib/JsonWrapper.h
Due: clang-tidy

Fix formatting
  src/modules/complianceengine/tests/EngineTest.cpp
Due: none

Fix returning a named JsonWrapper variable C++11 limitation
  src/modules/complianceengine/src/lib/JsonWrapper.cpp
Due: clang-tidy

Refactor AuditLoginDefsOption for formatting
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.cpp
Due: clang-tidy

Update Copilot instructions: streamline coding conventions and clarify procedure development guidelines
  .github/copilot-instructions.md
Due: none

Path conditions:
  clang-tidy: any of: (?x)(
^src/modules/complianceengine/src/.*\.h$|
^src/modules/complianceengine/src/.*\.cpp$|
^src/compliance-engine-assessor/.*\.hpp$|
^src/compliance-engine-assessor/.*\.cpp$|
^src/common/telemetry/.*\.h$|
^src/common/telemetry/.*\.hpp$|
^src/common/telemetry/.*\.c$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  compliance-engine-interface: any of: (?x)(
^src/modules/complianceengine/src/lib/payload.schema.json$|
^src/modules/complianceengine/src/lib/procedures/.*\.h$|
^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.json$
