Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

Work in progress
  src/common/commonutils/CrashHandler.c
Due: none

Work in progress
  src/common/commonutils/CrashHandler.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/tests/CommonUtilsUT.cpp
Due: none

AuditEnsureAccountsWithoutShellAreLockedParams: add additional optional parameter to exclude users with not valid shells
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.schema.json
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
Due: clang-tidy, compliance-engine-interface

Update src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
Due: clang-tidy, compliance-engine-interface

Update src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
Due: clang-tidy

fix formatting
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
Due: clang-tidy

fixes after review
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.schema.json
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
Due: clang-tidy, compliance-engine-interface

Initall fix for builds ./devops/scripts/run-module-tests.sh
  .dockerignore
  .github/workflows/build-containers.yml
  devops/docker/centos-7-amd64/Dockerfile
  devops/scripts/run-module-tests.sh
Due: none

SystemdParameter: block parameter do not need `[]`, passOnNotFound to be Compliant if value is not found
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.h
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.schema.json
  src/modules/complianceengine/tests/procedures/SystemdConfigTest.cpp
Due: clang-tidy, compliance-engine-interface

devops: fix containers Dockerfiles remove --from=dockerfiledir use path from source tree
  devops/docker/debian-10-amd64/Dockerfile
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
  devops/scripts/run-module-tests.sh
Due: none

AuditEnsureAccountsWithoutShellAreLockedParams: add additional optional parameter to exclude users with not valid shells (#1260)
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.schema.json
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
Due: clang-tidy, compliance-engine-interface

SystemdParameter: block parameter do not need `[]`, passOnNotFound to be Compliant if value is not found (#1258)
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.h
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.schema.json
  src/modules/complianceengine/tests/procedures/SystemdConfigTest.cpp
Due: clang-tidy, compliance-engine-interface

Work in progress
  src/common/commonutils/CommonUtils.h
Due: none

Fix for builds ./devops/scripts/run-module-tests.sh (#1261)
  .dockerignore
  .github/workflows/build-containers.yml
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/debian-10-amd64/Dockerfile
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
  devops/scripts/run-module-tests.sh
Due: none

Work in progress
  src/common/commonutils/UserUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/modules/securitybaseline/src/lib/SecurityBaseline.c
Due: none

EnsureFilePermissions: add handling of oval checkExistence NoneExist
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.schema.json
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: clang-tidy, compliance-engine-interface

EnsureFilePermissions: add behavior to support CIS none_exist, at_least_one_exists, all_exist, only_one_exists
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.schema.json
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: clang-tidy, compliance-engine-interface

EnsureFilePermissions: add behavior v2 share behvaiour across EnsureFilePermissions, FileRegexMatch
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.h
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.h
  src/modules/complianceengine/src/lib/procedures/Oval.h
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: clang-tidy, compliance-engine-interface

revert EnsureFilePermissionsCollectionHelper
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
Due: clang-tidy

EnsureFilePermissions: Fix tests and asserts
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: clang-tidy

EnsureFilePermissions: Fix recurcene and add more tests
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: clang-tidy

EnsureFilePermissionsTest: behaviors all cases
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
Due: none
