Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

clang-tidy:
  name: Run clang-tidy
  entry: src/tests/clang-tidy/run-clang-tidy.py
  language: python
  additional_dependencies:
  - clang-tidy

compliance-engine-interface:
  name: Generate symbolic compliance engine interface
  entry: src/modules/complianceengine/src/lib/GenInterface.py
  language: python
  require_serial: true

VCPKG integration (#1116)
  src/modules/complianceengine/src/lib/CMakeLists.txt
Due: none

Follow symlinks in the FileRegexMatch procedure (#1173)
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/tests/procedures/FileRegexMatchTest.cpp
Due: clang-tidy

Small fixes for different procedures. (#1180)
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureFirewallOpenPorts.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureNoUnowned.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureShadowContains.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/ExecuteCommandGrep.cpp
  src/modules/complianceengine/src/lib/procedures/ExecuteCommandGrep.h
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/tests/LuaProceduresTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureFirewallOpenPortsTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureShadowContainsTest.cpp
Due: clang-tidy, compliance-engine-interface

Updated ci to use explicit container tags (#1178)
  .github/actions/container-run/action.yml
  .github/workflows/ci.yml
Due: none

Minor clang compiler fixes (#1165)
  src/common/tests/CommonUtilsUT.cpp
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/tests/MockContext.h
Due: clang-tidy

Add filesystem scanner procedures to Lua (#1174)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/FilesystemScanner.cpp
  src/modules/complianceengine/src/lib/FilesystemScanner.h
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.h
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/FilesystemScannerTest.cpp
  src/modules/complianceengine/tests/LuaProceduresTest.cpp
  src/modules/complianceengine/tests/MockContext.h
  src/modules/complianceengine/tests/procedures/EnsureNoUnownedTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureNoWritablesTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureSshKeyPermsTest.cpp
Due: clang-tidy

Fix universal nrp tests (#1153)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/package-build.yml
  .gitignore
  .gitmodules
  src/CMakeLists.txt
  src/adapters/mc/CMakeLists.txt
  src/modules/CMakeLists.txt
  src/tests/fuzzer/CMakeLists.txt
  src/tests/fuzzer/target.cpp
  src/vcpkg.json
  vcpkg-configuration.json
Due: none

Revert "VCPKG integration" (#1151)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/package-build.yml
  .gitignore
  .gitmodules
  src/CMakeLists.txt
  src/adapters/mc/CMakeLists.txt
  src/modules/CMakeLists.txt
  src/tests/fuzzer/CMakeLists.txt
  src/tests/fuzzer/target.cpp
  src/vcpkg.json
  vcpkg-configuration.json
Due: none

build-containers: isolate containers for each branch and write update process for containers (#1172)
  .github/arm64-test-matrix.txt
  .github/test-matrix.json
  .github/workflows/build-containers.yml
  .github/workflows/ci.yml
  devops/README.md
  devops/docker/ubuntu-14.04-amd64/Dockerfile
  devops/docker/ubuntu-14.04-amd64/Dockerfile.2
Due: none

Adjust compliance engine NRP output (#1196)
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/src/lib/Evaluator.h
Due: clang-tidy

Drop password change test (#1195)
  src/modules/test/recipes/complianceengine/EnsureShadowContains.json
Due: none

Add SystemdCatConfig Lua procedure (#1193)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/SystemdCatConfig.cpp
  src/modules/complianceengine/src/lib/SystemdCatConfig.h
Due: clang-tidy

Auditd audit fixes (#1192)
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/tests/procedures/AuditdRulesCheckTest.cpp
Due: clang-tidy

compliance engine assessor (#1168)
  .pre-commit-config.yaml
  src/modules/complianceengine/src/CMakeLists.txt
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.cpp
  src/modules/complianceengine/src/assessor/BenchmarkFormatter.hpp
  src/modules/complianceengine/src/assessor/CMakeLists.txt
  src/modules/complianceengine/src/assessor/CompactListFormatter.cpp
  src/modules/complianceengine/src/assessor/CompactListFormatter.hpp
  src/modules/complianceengine/src/assessor/DebugFormatter.cpp
  src/modules/complianceengine/src/assessor/DebugFormatter.hpp
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/assessor/JsonFormatter.hpp
  src/modules/complianceengine/src/assessor/Main.cpp
  src/modules/complianceengine/src/assessor/Mof.cpp
  src/modules/complianceengine/src/assessor/Mof.hpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.cpp
  src/modules/complianceengine/src/assessor/NestedListFormatter.hpp
  src/modules/complianceengine/src/lua-evaluator/CMakeLists.txt
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
Due: clang-tidy

Add pam-config to ExecuteCommandGrep (#1182)
  src/modules/complianceengine/src/lib/procedures/ExecuteCommandGrep.cpp
Due: clang-tidy

Add EnsureFileExists procedure (#1189)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.h
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.schema.json
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.h
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.schema.json
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/procedures/EnsureFileExistsTest.cpp
Due: clang-tidy, compliance-engine-interface

Auditd audit fixes (#1188)
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/tests/procedures/AuditdRulesCheckTest.cpp
Due: clang-tidy

Add indicators support for Lua (#1194)
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.cpp
  src/modules/complianceengine/src/lib/LuaProcedures.h
  src/modules/complianceengine/tests/LuaProceduresTest.cpp
Due: clang-tidy

EnsureSysctl: log expected value from syctl, Use Pattern (#1201)
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.h
  src/modules/complianceengine/tests/procedures/EnsureSysctlTest.cpp
Due: clang-tidy, compliance-engine-interface

Fix indicator formatting regression (#1198)
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/tests/LuaProceduresTest.cpp
Due: clang-tidy

Support for underscore/hyphen in module names (#1199)
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/tests/procedures/EnsureKernelModuleTest.cpp
Due: clang-tidy

compilanceAssesor: fix segfault when using short options (#1203)
  src/modules/complianceengine/src/assessor/Main.cpp
Due: clang-tidy

Cache package manager detection too (#1200)
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/tests/procedures/PackageInstalledTest.cpp
Due: clang-tidy

[ASB] Do not log mntent.mnt_opts values that contain credentials (#1212)
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/MountUtils.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

[ASB] Retry package installation without cacheonly option when the package may not be cached (#1210)
  src/common/commonutils/PackageUtils.c
Due: none

Disabling the PnP Agent and the Azure IoT PnP SDK from build (#1204)
  src/adapters/CMakeLists.txt
Due: none

Onboarded CE to Telemetry (#1207)
  src/common/telemetry/Telemetry.h
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/FileTreeWalk.cpp
  src/modules/complianceengine/src/lib/GroupsIterator.cpp
  src/modules/complianceengine/src/lib/KernelModuleTools.cpp
  src/modules/complianceengine/src/lib/ListValidShells.cpp
  src/modules/complianceengine/src/lib/LuaEvaluator.cpp
  src/modules/complianceengine/src/lib/NetworkTools.cpp
  src/modules/complianceengine/src/lib/PasswordEntriesIterator.cpp
  src/modules/complianceengine/src/lib/ReentrantIterator.h
  src/modules/complianceengine/src/lib/UsersIterator.cpp
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureDefaultShellTimeoutIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureDefaultUserUmaskIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFileExists.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureFilePermissions.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureGsettings.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersDotFilesAccessIsConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureInteractiveUsersHomeDirectoriesAreConfigured.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureLogfileAccess.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSshdOption.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSystemAccountsDoNotHaveValidShell.cpp
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/src/lib/procedures/PackageInstalled.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/src/lib/procedures/SystemdUnitState.cpp
  src/modules/complianceengine/src/lua-evaluator/Main.cpp
Due: clang-tidy

Removed parallel builds on sanitizer due to memory overhead (#1214)
  .github/workflows/ci-sanitizers.yml
Due: none

Added ResultString to StatusTrace event (#1213)
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/ParameterSets.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: clang-tidy

Improve UfwStatus command output (#1202)
  src/modules/complianceengine/src/lib/procedures/UfwStatus.cpp
  src/modules/complianceengine/src/lib/procedures/UfwStatus.h
  src/modules/complianceengine/tests/procedures/ufwStatusTest.cpp
Due: clang-tidy, compliance-engine-interface

Make EnsureNoUnowned and EnsureNoWritables output more readable (#1197)
  src/modules/complianceengine/src/lib/procedures/EnsureNoUnowned.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureNoWritables.cpp
Due: clang-tidy

Aggregate matrix workflow jobs and fix job names (#1226)
  .github/workflows/ci-sanitizers.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzzing.yml
  .github/workflows/module-test.yml
  .github/workflows/static-analysis.yml
Due: none

Fix package-build workflow to support different toolchains (#1221)
  .github/actions/container-exec/action.yml
  .github/workflows/package-build.yml
Due: none

Fix package-build cmake arguments (#1227)
  .github/workflows/package-build.yml
Due: none

Changed activityId to use constant (#1225)
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Remove Telemetry noise for rules that may take too long to process on customer's side (#1229)
  src/common/commonutils/PerfUtils.c
Due: none

Bumped CMake minimum requirement to 3.21 (#1215)
  README.md
  src/CMakeLists.txt
  src/common/telemetry/CMakeLists.txt
Due: none

Bump codeql-action@v4 (#1222)
  .github/workflows/codeql.yml
Due: none

Path conditions:
  clang-tidy: any of: (?x)(
^src/modules/complianceengine/src/.*\.h$|
^src/modules/complianceengine/src/.*\.cpp$|
^src/compliance-engine-assessor/.*\.hpp$|
^src/compliance-engine-assessor/.*\.cpp$|
^src/common/telemetry/.*\.h$|
^src/common/telemetry/.*\.hpp$|
^src/common/telemetry/.*\.c$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  compliance-engine-interface: any of: (?x)(
^src/modules/complianceengine/src/lib/payload.schema.json$|
^src/modules/complianceengine/src/lib/procedures/.*\.h$|
^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.json$
