Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

clang-tidy:
  name: Run clang-tidy
  entry: src/tests/clang-tidy/run-clang-tidy.py
  language: python
  additional_dependencies:
  - clang-tidy

compliance-engine-interface:
  name: Generate symbolic compliance engine interface
  entry: src/modules/complianceengine/src/lib/GenInterface.py
  language: python
  require_serial: true

Add telemetry event type
  src/common/telemetry/lib/ParameterSets.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: clang-tidy

Add telemetry event type (#1244)
  src/common/telemetry/lib/ParameterSets.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: clang-tidy

Do not treat missing configuration file as error
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/tests/procedures/SystemdConfigTest.cpp
Due: clang-tidy

Do not treat missing configuration file as error (#1243)
  src/modules/complianceengine/src/lib/procedures/SystemdConfig.cpp
  src/modules/complianceengine/tests/procedures/SystemdConfigTest.cpp
Due: clang-tidy

Refactor LoginDefsOption to remove unused parameters and streamline logic
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.cpp
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.h
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.schema.json
  src/modules/complianceengine/tests/procedures/LoginDefsOptionTest.cpp
Due: clang-tidy, compliance-engine-interface

Clarify built-in procedure structure and file organization in Copilot instructions
  .github/copilot-instructions.md
Due: none

Clarify procedure implementation requirements in Copilot instructions
  .github/copilot-instructions.md
Due: none

Add missing includes
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.cpp
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.h
Due: clang-tidy, compliance-engine-interface

Onboard project to the GitHub Copilot (#1239)
  .github/copilot-instructions.md
  README.md
Due: none

Update LoginDefsOption parameter mapping to reflect header changes
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
Due: clang-tidy

Add `LoginDefsOption` built-in procedure for ComplianceEngine (#1242)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/payload.schema.json
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.cpp
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.h
  src/modules/complianceengine/src/lib/procedures/LoginDefsOption.schema.json
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/procedures/LoginDefsOptionTest.cpp
Due: clang-tidy, compliance-engine-interface

Add missing property to CommandExecuted event
  src/common/telemetry/lib/ParameterSets.hpp
Due: clang-tidy

update tests
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: none

Add support for stringified JSON input for user-defined parameters (#1241)
  src/modules/complianceengine/src/assessor/JsonFormatter.cpp
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/Engine.cpp
  src/modules/complianceengine/src/lib/Engine.h
  src/modules/complianceengine/src/lib/JsonWrapper.cpp
  src/modules/complianceengine/src/lib/JsonWrapper.h
  src/modules/complianceengine/src/lib/Procedure.cpp
  src/modules/complianceengine/src/lib/Procedure.h
  src/modules/complianceengine/tests/EngineTest.cpp
  src/modules/complianceengine/tests/EvaluatorTest.cpp
  src/tests/fuzzer/target.cpp
Due: clang-tidy

Work in progress
  src/common/commonutils/UserUtils.c
Due: none

CheckDefaultRootAccountGroupIsGidZero can crash when a user account is missing name (#1247)
  src/common/commonutils/UserUtils.c
Due: none

Update paths
  README.md
  src/common/asb/Asb.c
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/Telemetry.hpp
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

CheckDefaultRootAccountGroupIsGidZero can crash when a user account is missing name (#1247) (#1248)
  src/common/commonutils/UserUtils.c
Due: none

Gtest: Fix sign vs unsiged compile warning
  src/modules/complianceengine/tests/BindingsTest.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/NetworkToolsTest.cpp
  src/modules/complianceengine/tests/OptionalTest.cpp
  src/modules/complianceengine/tests/RegexFallbackTest.cpp
  src/modules/complianceengine/tests/RegexTest.cpp
  src/modules/complianceengine/tests/ResultTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureDefaultShellTimeoutIsConfiguredTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureDefaultUserUmaskIsConfiguredTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureLogfileAccessTest.cpp
Due: none

fix: remove unncessary (doubled) cast
  src/modules/complianceengine/tests/NetworkToolsTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureDefaultShellTimeoutIsConfiguredTest.cpp
Due: none

Move telemetry files and reduce events (#1249)
  README.md
  src/common/asb/Asb.c
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/Telemetry.hpp
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

EnumerateUsers can crash for blank lines in passwd
  src/common/commonutils/UserUtils.c
Due: none

EnumerateUsers can crash for blank lines in passwd (#1253)
  src/common/commonutils/UserUtils.c
Due: none

Move telemetry files and reduce events (#1252)
  README.md
  src/common/asb/Asb.c
  src/common/telemetry/Telemetry.c
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/Telemetry.hpp
  src/common/tests/TelemetryUT.cpp
Due: clang-tidy

EnumerateUsers can crash for blank lines in passwd (#1253) (#1255)
  src/common/commonutils/UserUtils.c
Due: none

Remove ls -al and sed hack for vcpkg
  devops/docker/almalinux-9-amd64/Dockerfile
  devops/docker/amazonlinux-2-amd64/Dockerfile
  devops/docker/azurelinux-3-amd64/Dockerfile
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/centos-8-amd64/Dockerfile
  devops/docker/debian-10-amd64/Dockerfile
  devops/docker/debian-11-amd64/Dockerfile
  devops/docker/debian-12-amd64/Dockerfile
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/mariner-2-amd64/Dockerfile
  devops/docker/oraclelinux-7-amd64/Dockerfile
  devops/docker/oraclelinux-8-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
  devops/docker/rhel-8-amd64/Dockerfile
  devops/docker/rhel-9-amd64/Dockerfile
  devops/docker/rockylinux-9-amd64/Dockerfile
  devops/docker/sles-15-amd64/Dockerfile
  devops/docker/ubuntu-18.04-amd64/Dockerfile
  devops/docker/ubuntu-20.04-amd64/Dockerfile
  devops/docker/ubuntu-22.04-amd64/Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile
Due: none

devops: cmake version up && use vcpkg to install build deps
  .github/workflows/build-containers.yml
  devops/docker/almalinux-9-amd64/Dockerfile
  devops/docker/amazonlinux-2-amd64/Dockerfile
  devops/docker/azurelinux-3-amd64/Dockerfile
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/centos-8-amd64/Dockerfile
  devops/docker/debian-10-amd64/Dockerfile
  devops/docker/debian-11-amd64/Dockerfile
  devops/docker/debian-12-amd64/Dockerfile
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/mariner-2-amd64/Dockerfile
  devops/docker/oraclelinux-7-amd64/Dockerfile
  devops/docker/oraclelinux-8-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
  devops/docker/rhel-8-amd64/Dockerfile
  devops/docker/rhel-9-amd64/Dockerfile
  devops/docker/rockylinux-9-amd64/Dockerfile
  devops/docker/sles-15-amd64/Dockerfile
  devops/docker/ubuntu-14.04-amd64/Dockerfile
  devops/docker/ubuntu-18.04-amd64/Dockerfile
  devops/docker/ubuntu-20.04-amd64/Dockerfile
  devops/docker/ubuntu-22.04-amd64/Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile
Due: none

devops: update containers to not leave src in layer
  devops/docker/almalinux-9-amd64/Dockerfile
  devops/docker/amazonlinux-2-amd64/Dockerfile
  devops/docker/azurelinux-3-amd64/Dockerfile
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/centos-8-amd64/Dockerfile
  devops/docker/debian-10-amd64/Dockerfile
  devops/docker/debian-11-amd64/Dockerfile
  devops/docker/debian-12-amd64/Dockerfile
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/mariner-2-amd64/Dockerfile
  devops/docker/oraclelinux-7-amd64/Dockerfile
  devops/docker/oraclelinux-8-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
  devops/docker/rhel-8-amd64/Dockerfile
  devops/docker/rhel-9-amd64/Dockerfile
  devops/docker/rockylinux-9-amd64/Dockerfile
  devops/docker/sles-15-amd64/Dockerfile
  devops/docker/ubuntu-18.04-amd64/Dockerfile
  devops/docker/ubuntu-20.04-amd64/Dockerfile
  devops/docker/ubuntu-22.04-amd64/Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile
Due: none

s#(size_t)\([0-9]*/)#\1y# aka change cast to name with type suffix
  src/modules/complianceengine/tests/BindingsTest.cpp
  src/modules/complianceengine/tests/NetworkToolsTest.cpp
  src/modules/complianceengine/tests/OptionalTest.cpp
  src/modules/complianceengine/tests/RegexFallbackTest.cpp
  src/modules/complianceengine/tests/RegexTest.cpp
  src/modules/complianceengine/tests/ResultTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureDefaultShellTimeoutIsConfiguredTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureDefaultUserUmaskIsConfiguredTest.cpp
Due: none

Gtest: Fix sign vs unsigned compile warning (#1250)
  src/modules/complianceengine/tests/BindingsTest.cpp
  src/modules/complianceengine/tests/CMakeLists.txt
  src/modules/complianceengine/tests/NetworkToolsTest.cpp
  src/modules/complianceengine/tests/OptionalTest.cpp
  src/modules/complianceengine/tests/RegexFallbackTest.cpp
  src/modules/complianceengine/tests/RegexTest.cpp
  src/modules/complianceengine/tests/ResultTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureDefaultShellTimeoutIsConfiguredTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureDefaultUserUmaskIsConfiguredTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureFilePermissionsTest.cpp
  src/modules/complianceengine/tests/procedures/EnsureLogfileAccessTest.cpp
Due: none

Refactor GetUidMin to return Resutlt<int>
  src/modules/complianceengine/src/lib/Users.cpp
  src/modules/complianceengine/src/lib/Users.h
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
Due: clang-tidy

Add empty params move GetUidMin
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/Users.cpp
  src/modules/complianceengine/src/lib/Users.h
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.schema.json
Due: clang-tidy, compliance-engine-interface

EnsureAccountsWithoutShellAreLocked: add parameters for skipping users
  src/modules/complianceengine/src/lib/StringTools.cpp
  src/modules/complianceengine/src/lib/StringTools.h
  src/modules/complianceengine/src/lib/Users.cpp
  src/modules/complianceengine/src/lib/Users.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.schema.json
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
Due: clang-tidy, compliance-engine-interface

fix typ Uninitazlied to Uninitialised
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
Due: clang-tidy

drop empty line
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
Due: clang-tidy, compliance-engine-interface

Path conditions:
  clang-tidy: any of: (?x)(
^src/modules/complianceengine/src/.*\.h$|
^src/modules/complianceengine/src/.*\.cpp$|
^src/compliance-engine-assessor/.*\.hpp$|
^src/compliance-engine-assessor/.*\.cpp$|
^src/common/telemetry/.*\.h$|
^src/common/telemetry/.*\.hpp$|
^src/common/telemetry/.*\.c$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  compliance-engine-interface: any of: (?x)(
^src/modules/complianceengine/src/lib/payload.schema.json$|
^src/modules/complianceengine/src/lib/procedures/.*\.h$|
^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
  )
 and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.json$
