Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

Fix moduletest skip_below_uid_min is required in schema although it's set on the default
  src/modules/test/recipes/complianceengine/EnsureAccountsWithoutShellAreLocked.json
Due: none

change separator to comma `,`
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
Due: clang-tidy, compliance-engine-interface

Use optional skip_below_uid_min
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.schema.json
  src/modules/test/recipes/complianceengine/EnsureAccountsWithoutShellAreLocked.json
Due: clang-tidy, compliance-engine-interface

Fix string + int add
  src/modules/complianceengine/src/lib/StringTools.cpp
Due: clang-tidy

Add extra tescase for users with separatior in name
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
Due: clang-tidy

Test new containres
  .github/test-matrix.json
Due: none

Test new containres v2
  .github/test-matrix.json
Due: none

Add parameters to ensure account without shells are locked (#1251)
  src/modules/complianceengine/src/lib/CMakeLists.txt
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/StringTools.cpp
  src/modules/complianceengine/src/lib/StringTools.h
  src/modules/complianceengine/src/lib/Users.cpp
  src/modules/complianceengine/src/lib/Users.h
  src/modules/complianceengine/src/lib/procedures/AuditdRulesCheck.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.schema.json
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
Due: clang-tidy, compliance-engine-interface

devops: cmake version up && use vcpkg to install build deps (#1254)
  .github/workflows/build-containers.yml
  devops/docker/almalinux-9-amd64/Dockerfile
  devops/docker/amazonlinux-2-amd64/Dockerfile
  devops/docker/azurelinux-3-amd64/Dockerfile
  devops/docker/centos-7-amd64/Dockerfile
  devops/docker/centos-8-amd64/Dockerfile
  devops/docker/debian-10-amd64/Dockerfile
  devops/docker/debian-11-amd64/Dockerfile
  devops/docker/debian-12-amd64/Dockerfile
  devops/docker/debian-9-amd64/Dockerfile
  devops/docker/mariner-2-amd64/Dockerfile
  devops/docker/oraclelinux-7-amd64/Dockerfile
  devops/docker/oraclelinux-8-amd64/Dockerfile
  devops/docker/rhel-7-amd64/Dockerfile
  devops/docker/rhel-8-amd64/Dockerfile
  devops/docker/rhel-9-amd64/Dockerfile
  devops/docker/rockylinux-9-amd64/Dockerfile
  devops/docker/sles-15-amd64/Dockerfile
  devops/docker/ubuntu-14.04-amd64/Dockerfile
  devops/docker/ubuntu-18.04-amd64/Dockerfile
  devops/docker/ubuntu-20.04-amd64/Dockerfile
  devops/docker/ubuntu-22.04-amd64/Dockerfile
  devops/docker/ubuntu-24.04-amd64/Dockerfile
Due: none

build-containers: fix DIGEST_SHA creation
  .github/workflows/build-containers.yml
Due: none

Test new git lables
  .github/workflows/build-containers.yml
Due: none

fix git sha
  .github/workflows/build-containers.yml
Due: none

Update containers to new version
  .github/test-matrix.json
Due: none

Update to new containers (#1256)
  .github/test-matrix.json
  .github/workflows/build-containers.yml
Due: none

Several telemetry fixes
  src/common/commonutils/CommandUtils.c
  src/common/commonutils/ConfigUtils.c
  src/common/commonutils/PackageUtils.c
  src/common/commonutils/PerfUtils.c
  src/common/commonutils/UserUtils.c
Due: none

Several telemetry fixes (#1257)
  src/common/commonutils/CommandUtils.c
  src/common/commonutils/ConfigUtils.c
  src/common/commonutils/PackageUtils.c
  src/common/commonutils/PerfUtils.c
  src/common/commonutils/UserUtils.c
Due: none

Several telemetry fixes (#1257) (#1259)
  src/common/commonutils/CommandUtils.c
  src/common/commonutils/ConfigUtils.c
  src/common/commonutils/PackageUtils.c
  src/common/commonutils/PerfUtils.c
  src/common/commonutils/UserUtils.c
Due: none

Some experiments
  src/CMakeLists.txt
  src/adapters/mc/OsConfigResource.c
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/CrashHandler.c
  src/common/commonutils/Internal.h
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/CrashHandler.c
Due: none

Work in progress
  src/adapters/mc/OsConfigResource.c
  src/common/tests/CommonUtilsUT.cpp
Due: none

Work in progress
  src/common/commonutils/CMakeLists.txt
Due: none

AuditEnsureAccountsWithoutShellAreLockedParams: add additional optional parameter to exclude users with not valid shells
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/ProcedureMap.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.h
  src/modules/complianceengine/src/lib/procedures/EnsureAccountsWithoutShellAreLocked.schema.json
  src/modules/complianceengine/tests/procedures/EnsureAccountsWithoutShellAreLockedTest.cpp
Due: clang-tidy, compliance-engine-interface

Work in progress
  src/common/commonutils/CrashHandler.c
Due: none

Work in progress
  src/common/commonutils/CrashHandler.c
  src/common/tests/CommonUtilsUT.cpp
Due: none
