Repository Azure/azure-osconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, compliance-engine-interface

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: |
         (?x)^(
            src/tests/fuzzer/seed_corpus/.*|
            devops/docker/.*/Dockerfile
            )$
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: ['--fix', 'lf']
      files: |
         (?x)(
          .*\.c|
          .*\.h|
          .*\.cpp|
          .*\.hpp|
          .*\.cs|
          .*\.md|
          .*\.cmake|
          .*\.toml|
          .*\.json|
          .*\.txt
            )$
    - id: mixed-line-ending
      args: ['--fix', 'crlf']
      files: |
         (?x)(
         .*\.cmd|
         .*\.csrpoj
         )$
  - repo: local
    hooks:
      - id: clang-tidy
        name: Run clang-tidy
        types_or: [c++]
        entry: src/tests/clang-tidy/run-clang-tidy.py
        language: python
        additional_dependencies: [clang-tidy]
        files: |
          (?x)(
          ^src/modules/complianceengine/src/.*\.h$|
          ^src/modules/complianceengine/src/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
  - repo: local
    hooks:
      - id: compliance-engine-interface
        name: Generate symbolic compliance engine interface
        types_or: [c++, json]
        entry: src/modules/complianceengine/src/lib/GenInterface.py
        language: python
        require_serial: true
        files: |
          (?x)(
          ^src/modules/complianceengine/src/lib/payload.schema.json$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.h$|
          ^src/modules/complianceengine/src/lib/procedures/.*\.schema.json$
            )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      files: |
         (?x)(
          ^src/modules/complianceengine/.*\.h$|
          ^src/modules/complianceengine/.*\.cpp$|
          ^src/compliance-engine-assessor/.*\.hpp$|
          ^src/compliance-engine-assessor/.*\.cpp$|
          ^src/common/telemetry/.*\.h$|
          ^src/common/telemetry/.*\.hpp$|
          ^src/common/telemetry/.*\.c$
            )
      exclude: |
        (?x)(
        ^src/modules/complianceengine/src/lib/ProcedureMap.h$|
        ^src/modules/complianceengine/src/lib/ProcedureMap.cpp$
        )

Work in progress
  src/common/commonutils/CrashHandler.c
Due: none

Work in progress
  src/common/commonutils/CrashHandler.c
  src/modules/securitybaseline/src/lib/SecurityBaseline.c
Due: none

Work in progress
  src/adapters/mc/OsConfigResource.c
  src/common/commonutils/CommonUtils.h
  src/common/commonutils/CrashHandler.c
  src/modules/securitybaseline/src/lib/SecurityBaseline.c
Due: none

Work in progress
  src/modules/securitybaseline/src/lib/SecurityBaseline.c
Due: none

Introduce Python bindings for rule definitions
  .github/workflows/compliance-engine-python-wheel.yml
  .github/workflows/formatting.yml
  src/modules/complianceengine/src/lib/GenInterface.py
  src/modules/complianceengine/src/lib/compliance_engine.py
  src/modules/complianceengine/src/lib/pyproject.toml
Due: none

Work in progress
  src/common/telemetry/Telemetry.h
Due: clang-tidy

Work in progress
  src/common/commonutils/CrashHandler.c
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/ParameterSets.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: clang-tidy

Work in progress
  src/common/telemetry/lib/ParameterSets.hpp
Due: clang-tidy

Work in progress
  src/common/telemetry/Telemetry.h
  src/common/telemetry/lib/Telemetry.cpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: clang-tidy

fix formatting
  src/common/telemetry/lib/ParameterSets.hpp
Due: clang-tidy

Add missing property to CommandExecuted event (#1245)
  src/common/telemetry/lib/ParameterSets.hpp
  src/common/telemetry/lib/tests/TelemetryTests.cpp
Due: clang-tidy

Address code review issues #1
  src/modules/complianceengine/tests/procedures/FileRegexMatchTest.cpp
Due: none

Fix 'Counters mismatch' error on dangling symlink
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
Due: clang-tidy

Fix 'Counters mismatch' error on dangling symlink (#1266)
  src/modules/complianceengine/src/lib/procedures/FileRegexMatch.cpp
  src/modules/complianceengine/tests/procedures/FileRegexMatchTest.cpp
Due: clang-tidy

Introduce a NotApplicable state in compliance engine
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/src/lib/Evaluator.h
  src/modules/complianceengine/src/lib/Indicators.cpp
  src/modules/complianceengine/src/lib/Indicators.h
  src/modules/complianceengine/src/lib/MmiResults.h
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/TestingProcedures.cpp
  src/modules/complianceengine/src/lib/procedures/TestingProcedures.h
  src/modules/complianceengine/src/lib/procedures/TestingProcedures.schema.json
  src/modules/complianceengine/tests/EvaluatorTest.cpp
Due: clang-tidy, compliance-engine-interface

Address code review issues #1
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/src/lib/Evaluator.h
Due: clang-tidy

Introduce a NotApplicable state in compliance engine (#1267)
  src/modules/complianceengine/src/lib/CommonContext.cpp
  src/modules/complianceengine/src/lib/ComplianceEngineInterface.cpp
  src/modules/complianceengine/src/lib/Evaluator.cpp
  src/modules/complianceengine/src/lib/Evaluator.h
  src/modules/complianceengine/src/lib/Indicators.cpp
  src/modules/complianceengine/src/lib/Indicators.h
  src/modules/complianceengine/src/lib/MmiResults.h
  src/modules/complianceengine/src/lib/ProcedureMap.cpp
  src/modules/complianceengine/src/lib/procedures/EnsureSysctl.cpp
  src/modules/complianceengine/src/lib/procedures/TestingProcedures.cpp
  src/modules/complianceengine/src/lib/procedures/TestingProcedures.h
  src/modules/complianceengine/src/lib/procedures/TestingProcedures.schema.json
  src/modules/complianceengine/tests/EvaluatorTest.cpp
Due: clang-tidy, compliance-engine-interface

Drop the assessor into the shell package
  src/adapters/mc/complianceengine/CMakeLists.txt
Due: none

pre-commit
  src/modules/complianceengine/src/lib/compliance_engine.py
Due: none

break build
  src/modules/complianceengine/src/lib/Indicators.cpp
Due: clang-tidy
